@font-face {
    font-family: 'Source Serif Pro';
    src: url('SourceSerifPro-Bold.woff2') format('woff2'),
        url('SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

