.about-intro-sec{
	padding: 70px 0 50px;
	overflow: hidden;
}
.abtis-img-text-row-inr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.lt-page-con-cntlr .abtis-img-text-row-inr{
	align-items: flex-end;
}
.abtis-img-txt-col{
	width: 50%;
}

.abtis-row-img{
	order: 2;
}
.abtis-row-text{
	padding-right: 20px;
	order: 1;
}

.about-team-sec{
	padding: 80px 0;
	background: #f7f7f7;
}
.about-team-sec .sec-entry-hdr-cntlr{
	padding-bottom: 30px;
}
.abtis-lft-img-row .abtis-row-img{
	order: 1;
}

.abtis-lft-img-row .abtis-row-text{
	padding-right: 0;
	padding-left: 30px;
}

.team-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	padding-bottom: 35px;
}
.team-grd-item-col{
	width: 33.3333%;
	padding: 0 10px 20px;
}
.team-grds .pm-grd-desc{
	display: block;
}
.about-page-con-cntlr .team-grds .pm-grd-desc{
	padding-bottom: 7px;
}
.double-image-module .abtis-row-img-inner{
	margin-right: -60px;
	position: relative;
}
.abtis-row-img-inner{
	margin-right: -40px;
}
.double-image-module .abtis-row-img-inner{
	margin-right: -60px;
}
.single-image-module .abtis-lft-img-row .abtis-row-img-inner{
	margin-right: initial;
	margin-left: -20px;
}
.abtis-row-text-inr p{
	margin-bottom: 30px;
}
.abtis-row-text-inr p:last-of-type{
	margin-bottom: 15px;
}
.abtis-row-text-inr h2{
	font-weight: 600;
}
.about-page-con-cntlr .why-choose-sec{
	margin-top: 20px;
}
.reviewSliderGrd3.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.about-page-con-cntlr .faq-sec .faq-sec-inner{
	max-width: 960px;
}
.about-page-con-cntlr .faq-accordion-title{
	font-weight: 400;
	color: #333333;
}
.about-page-con-cntlr .pm-grd-desc-cntlr{
	background: #fff;
}





.has-inline-bg.double-image-module .abtis-row-img-inner{
	padding-left: 90px;
}

/*.has-inline-bg .abtis-row-img-inner > img,*/

.has-inline-bg .abtis-row-main-img-cntrl,
.has-inline-bg.double-image-module .abtis-row-sub-img-cntlr,
/*.abtis-row-img-inner > img,*/
.single-image,
.double-image-module .double-image{
	display: block;
}
.abtis-row-main-img-cntrl,
.double-image,
.double-image-module .single-image,
.has-inline-bg .single-image,
.has-inline-bg .double-image{
	display: none;
}


.double-image .double-image-sub {
    position: absolute;
    left: 0;
    bottom: 11px;
    max-width: 349px;
}
.double-image {
    position: relative;
    padding-left: 90px;
}
.abtis-lft-img-row .double-image{
	padding-left: 0px;
	padding-right: 90px;
}
.abtis-lft-img-row .double-image .double-image-sub {
    right: -10px;
    left: initial;
}

.abtis-row-main-img {
    height: 580px;
    /*width: 547px;*/
    width: 100%;
    margin-left: auto;
}
.abtis-row-sub-img-cntlr{
	z-index: 2;
	width: 322px;
    height: 356px;
    position: absolute;
    bottom: 32px;
    left: 8px;
    border: 4px solid #fff;
/*    box-shadow: 8px 8px 16px rgb(0 0 0 / 32%);*/
    display: none;
}
/*.three-col-review .review-pro-des{
	height: 210px;
}*/
.about-page-con-cntlr .pm-grd-title{
	margin-bottom: 10px;
}
.abtis-row-sub-img {
  width: 100%;
  height: 100%;
}
.abtis-row-main-img-cntrl{
	position: relative;
}
.abtis-row-main-img-cntrl:before {
    content: '';
    position: absolute;
    width: calc( 100% - 52px );
    height: calc(100% - 52px);
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-top: 2px solid #A37D36;
    border-left: 2px solid #A37D36;
    border-bottom: 2px solid #A37D36;
    border-right: 2px solid #A37D36;
    right: 26px;
    left: 26px;
    top: 26px;
    bottom: 26px;
    z-index: 1;
}
.about-page-con-cntlr .review-pro-des{
	height: 218px;
}
@media(min-width: 1600px){
	.double-image-module .abtis-row-img-inner{
		margin-right: -160px;
	}
	.double-image-module .abtis-lft-img-row .abtis-row-img-inner{
		margin-left: -60px;
		margin-right: 0;
	}
	.has-inline-bg.double-image-module .abtis-row-img-inner{
		padding-left: 105px;
	}
	.abtis-row-sub-img-cntlr {
	    width: 374px;
	    height: 420px;
	}
	.abtis-row-main-img {
	    height: 590px;
	}
	.double-image .double-image-sub {
	    max-width: 402px;
	}
	.double-image {
	    padding-left: 105px;
	}
	.abtis-lft-img-row .double-image{
		padding-left: 0px;
		padding-right: 105px;
	}
}
@media(max-width: 1499px){
	.double-image-module .abtis-row-img-inner {
		margin-right: -50px;
	}
}
@media(max-width: 1299px){
	.double-image-module .abtis-row-img-inner {
		margin-right: 0;
	}
	.abtis-row-img-inner {
		margin-right: 0;
	}
	.about-intro-sec .abtis-lft-img-row .abtis-row-img-inner {
		margin-left: 0!important;		
	}
}
@media(max-width: 1199px){
	.about-intro-sec {
		padding: 55px 0 40px;		
	}
	.has-inline-bg.double-image-module .abtis-row-img-inner {
		padding-left: 70px;
	}
	.abtis-row-text-inr p {
		margin-bottom: 25px;
	}
}
@media(max-width: 991px){
	.abtis-row-text-inr p {
		margin-bottom: 20px;
	}
	.about-intro-sec {
		padding: 45px 0 40px;
	}
	.abtis-lft-img-row .abtis-row-text {		
		padding-left: 20px;
	}
}
@media(max-width: 767px){
	.abtis-img-txt-col {
		width: 100%;
	}
	.abtis-row-img {
		order: 1;
		margin-bottom: 20px;
	}
	.abtis-row-text {
		padding-right: 0;
		order: 2;
	}
	.abtis-row-sub-img-cntlr{
		bottom: 50px;
		left: 0;
		width: 280px;
		height: 320px;
	}
	.abtis-row-main-img{
		height: 450px;
	}
	.abtis-row-main-img-cntrl:before{
		right: 20px;
		left: 20px;
		top: 20px;
		bottom: 20px;
		width: calc( 100% - 40px ); 
		height: calc(100% - 40px);
	}
	.about-intro-sec {
		padding: 32px 0 32px;
	}	
	.abtis-row-text-inr p {
		margin-bottom: 30px;
	}
	.abtis-lft-img-row .abtis-row-text {
		padding-right: 0;
		padding-left: 0;
	}
	.abtis-row-text-inr h2{
		margin-bottom: 16px;
	}
	.abtis-lft-img-row .abtis-row-text-inr p:last-of-type {
		margin-bottom: 0;
	}
	.about-page-con-cntlr .why-choose-sec {
		margin-top: 0;
	}
}
@media(max-width: 575px){
	.abtis-row-main-img-cntrl:before{
		right: 15px;
		left: 15px;
		top: 15px;
		bottom: 15px;
		width: calc( 100% - 30px ); 
		height: calc(100% - 30px);
	}
	.abtis-row-main-img{
		height: 400px;
	}
	.abtis-row-sub-img-cntlr{
		width: 230px;
		height: 260px;
	}
}
@media(max-width: 479px){
	.abtis-row-main-img-cntrl:before{
		right: 10px;
		left: 10px;
		top: 10px;
		bottom: 10px;
		width: calc( 100% - 20px ); 
		height: calc(100% - 20px);
	}
	.abtis-row-main-img{
		height: 328px;
	}
	.abtis-row-sub-img-cntlr{
		width: 145px;
		height: 184px;
	}
}