.about-intro-sec{
	padding: 70px 0 50px;
}
.abtis-img-text-row-inr{
	display: flex;
	align-items: center;
}
.abtis-img-txt-col{
	width: 50%;
}

.abtis-row-img{
	order: 2;
}
.abtis-row-text{
	padding-right: 50px;
	order: 1;
}

.about-team-sec{
	padding: 80px 0 75px;
	background: #f7f7f7;
}
.about-team-sec .sec-entry-hdr-cntlr{
	padding-bottom: 30px;
}
.abtis-lft-img-row .abtis-row-img{
	order: 1;
}

.abtis-lft-img-row .abtis-row-text{
	padding-right: 0;
	padding-left: 30px;
}