.about-intro-sec{
	padding: 70px 0 50px;
	overflow: hidden;
}
.abtis-img-text-row-inr{
	display: flex;
	align-items: center;
}
.abtis-img-txt-col{
	width: 50%;
}

.abtis-row-img{
	order: 2;
}
.abtis-row-text{
	padding-right: 50px;
	order: 1;
}

.about-team-sec{
	padding: 80px 0;
	background: #f7f7f7;
}
.about-team-sec .sec-entry-hdr-cntlr{
	padding-bottom: 30px;
}
.abtis-lft-img-row .abtis-row-img{
	order: 1;
}

.abtis-lft-img-row .abtis-row-text{
	padding-right: 0;
	padding-left: 30px;
}

.team-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	padding-bottom: 35px;
}
.team-grd-item-col{
	width: 33.3333%;
	padding: 0 10px 20px;
}
.team-grds .pm-grd-desc{
	display: block;
}
.abtis-row-img-inner{
	margin-right: -60px;
}
.abtis-lft-img-row .abtis-row-img-inner{
	margin-right: initial;
	margin-left: -40px;
}
.abtis-row-text-inr p{
	margin-bottom: 30px;
}
.abtis-row-text-inr p:last-of-type{
	margin-bottom: 15px;
}
.abtis-row-text-inr h2{
	font-weight: 600;
}
.about-page-con-cntlr .why-choose-sec{
	margin-top: 20px;
}
.reviewSliderGrd3.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.about-page-con-cntlr .faq-sec .faq-sec-inner{
	max-width: 960px;
}
.about-page-con-cntlr .faq-accordion-title{
	font-weight: 400;
	color: #333333;
}
.about-page-con-cntlr .pm-grd-desc-cntlr{
	background: #fff;
}


@media(min-width: 1600px){
	.abtis-row-img-inner{
		margin-right: -160px;
	}
	.abtis-lft-img-row .abtis-row-img-inner{
		margin-left: -60px;
	}
}