/**
Commons
*/
*, *:focus,.btn,.btn:focus{
	outline: 0!important;
	text-decoration: none;
}

a, button, input{
	outline: 0;
	border: 0;
}
a, a:hover, a:focus, button:hover, button:focus{
	text-decoration: none;
	outline: 0;
}

body {
    background: #ffffff;
    color: #707070;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'SourceSansPro';
}
/* font-family: 'SourceSerifPro'; */ 

p{
	line-height: 2;
	margin-bottom: 15px;
}
a{
	color: #11345E;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	color: #EACC95;
}
strong,b{
	font-weight: 700;
}
em,i{
	font-style: italic;
}
u{
	text-decoration: underline;
}
input[type=text],
input[type=email],
input[type=tel],
textarea{   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;    
}
::selection {
  color: #fff;
  background: #11345E;
}

.container-xlg,
.container-lg,
.container-md,
.container-sm,
.container-xs{
	width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
.container-xlg:before,
.container-xlg:after,
.container-lg:before,
.container-lg:after,
.container-md:before,
.container-md:after,
.container-sm:before,
.container-sm:after,
.container-xs:before,
.container-xs:after{
	content: "";
	display: table;
	clear: both;
}
.container-xlg{
	
}
.container-lg{
	max-width: 1224px;
}
.container{
	max-width: 1184px;
	width: 100%;
}
.container-md{

}

.container-sm{

}


/*.page-body-cntlr{
	max-width: 1920px; 
	width: 100%;
	margin: 0 auto;
	position: relative;
}
  */
.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}

.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
	border-radius: 0;
}

.hide-lg{
	display: block!important;
}
.show-lg{
	display: none!important;
}
.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.show-sm{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}

.divider{
	line-height: 0;
	font-size: 0;
}
.overlay-link{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.inline-bg{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}

.fl-btn-absolute{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}


ul.reset-list,
ol.reset-list,
ul.sub-menu,
.fl-pagi-ctlr ul,
.reset-slect ul,
ul.ab-top-menu,
.fl-pagination-cntlr ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.reset-list > li,
ul.sub-menu li,
.fl-pagi-ctlr ul li,
.reset-slect ul li,
ul.ab-top-menu li,
.fl-pagination-cntlr ul li{
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0;
}
.reset-list li:before,
ul.sub-menu li:before,
.fl-pagi-ctlr ul li:before,
.reset-slect ul li:before,
ul.ab-top-menu li:before,
.fl-pagination-cntlr ul li:before{
	content: none!important;
}





/**
Selects
*/
/*fl select 2*/
body .select2-container.select2-container--default.select2-container--open .select2-dropdown{
    margin-top: 0;
}

body .select2-dropdown {
    margin: 0;
    border: none!important;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 10px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 84px rgb(44 17 62 / 9%);
    border-radius: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #909BA5;
}
.contact-form-wrp .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #000000;
}
.select2-container--default .select2-search--dropdown .select2-search__field, 
.bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #ECF1F4!important;
    height: 36px!important;
    padding: 4px 15px;
}
ul.select2-results__options li {
    padding: 13px 10px 13px!important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FFA800!important;
    color: #fff!important;
}
.select2-container--open .select2-dropdown{
    top: 30px;
}
body.woocommerce-checkout .select2-container.select2-container--default.select2-container--open .select2-dropdown{
    margin-top: 8px;
}
body.login-register.hide-account-title .select2-container--open .select2-dropdown{
    top: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #FFA800!important;
    color: #fff!important;
}



/*slider break fix*/

.hmProdctGrdsSlider .hmProdctGrdsSlideItme,
.bannerBgSlider2 .bannerBgSlider-item,
.bannerBgSlider .bannerBgSlider-item{
	display: none;
	position: relative;
}

.hmProdctGrdsSlider .hmProdctGrdsSlideItme:first-child,
.bannerBgSlider2 .bannerBgSlider-item:first-child,
.bannerBgSlider .bannerBgSlider-item:first-child{
	display: block;
}

.hmProdctGrdsSlider.slick-initialized .hmProdctGrdsSlideItme,
.bannerBgSlider2.slick-initialized .bannerBgSlider-item,
.bannerBgSlider.slick-initialized .bannerBgSlider-item{
	display: block;
}


.cdc-btn{
	display: inline-block;
	vertical-align: baseline;
	color: #FFFFFF;
	background: #29467D;
	border-radius: 4px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	padding: 14.5px 18px;
	border: 2px solid #29467D;    
	text-transform: capitalize;
	text-decoration: none;
}
.cdc-btn:hover{
	color: #FFFFFF;
	background: #EACC95;
	border-color: #EACC95;
}
.cdc-trnsprnt-btn{
	display: inline-block;
	vertical-align: baseline;
	border-radius: 4px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	padding: 14.5px 17px;
	border: 2px solid #29467D;  
	text-transform: capitalize;
	text-decoration: none;
	background: transparent;
	color: #29467D;
}
.cdc-trnsprnt-btn:hover{
	color: #FFFFFF;
	border: 2px solid #29467D;  
	background: #29467D;
}