.contact-loctn-us-sec .sec-entry-hdr-cntlr{
	padding-bottom: 12px;
}
.contact-loctn-us-sec-inr .locations-des-title{
	color: #333333;
}
.cntct-us-faq-sec{
	padding-top: 75px;
}
.contact-loctn-us-sec{
	padding-bottom: 30px;
}
.maps-sec-inr{
	position: relative;
}
.map-loc-desc-cntlr {
    max-width: 300px;
}
.map-item-img-cntlr{
	border
}
.map-item-loc-phn{
	padding: 12px 8px;
}
.map-loc-title{
	background: linear-gradient(90deg, #0D2E56 0%, #11345E 50%, #0D2E56 100%);
	padding: 12px 8px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
}
.map-loc-title a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
.map-loc-title a:hover{
	color: #DDDDDD;
}
.map-loc-desc-cntlr{
	filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
	border-radius: 6px;
}
.map-item-img-cntlr img {
    border-radius: 6px 6px 0 0;
    border-bottom: 2px solid #a37d36;
}
.map-loc-desc-cntlr{
	filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
	border-radius: 6px;
	position: absolute;
	top: 50px;
	left: 100px;
	background: #FFF;;
}
.map-item-loc-phn ul li{
	position: relative;
	padding-left: 24px;
}
.map-item-loc-phn ul li .map-location:after{
	position: absolute;
	content: '';
	top: 2px;
	left: 5px;
	width: 14px;
	height: 28px;
	background: url('../images/map-location.svg');
	background-repeat: no-repeat;
}
.map-item-loc-phn ul li .map-location:hover{
	color: #11345E;
}
.map-item-loc-phn ul li .map-phn:hover{
	color: #707070;
}
.map-item-loc-phn ul li .map-phn:after{
	position: absolute;
	content: '';
	top: 2px;
	left: 5px;
	width: 14px;
	height: 28px;
	background: url('../images/map-phn.svg');
	background-repeat: no-repeat;
}
.map-item-loc-phn ul li a{
	display: inline-blockb;
	text-decoration: none;
	color: #707070;
}
.map-item-loc-phn .map-locatoin{
	font-weight: 400;
	font-size: 16px;
}
.map-item-loc-phn .map-phn{
	color: #29467D;
	font-weight: 600;
	font-size: 16px;
}
.map-des-btm-arrow-img {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}