.fees-banner-btns .pg-banner-btn a{
	padding: 14.5px 12px;
}
.fees-sec{
	padding-top: 60px;
}
.fees-sec-cntlr{
	padding-bottom: 18px;
}
.fees-sec-entry-hdr{
	margin-bottom: 44px;
	text-align: center;
	width: 100%;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
}
.fees-sec-entry-hdr p:last-of-type{
	margin-bottom: 0;
}
.fees-cntlr{

}
.fees-tab{
	padding-bottom: 48px;
	margin-bottom: 29px;
}
.fees-tab ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -12px;
}
.fees-tab ul li{
	padding: 0 12px;
	position: relative; 
	line-height: 1;
}
.fees-tab ul li:after{
	position: absolute;
	content: "";
	height: 24px;
	width: 2px;
	background: #DDDDDD;
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
}
.fees-tab ul li:last-child:after{
	content: none;
	display: none;
}
.fees-tab ul li a{
	font-weight: 600;
	font-size: 17px;
	line-height: 1.2;
	color: #29467D;
	display: inline-block;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px dashed #29467D;
	text-transform: capitalize;
}
.fees-tab ul li.active a{
	color: #EACC95;
	border-color: #EACC95;
}
.fees-tab ul li a:hover{
	color: #EACC95;
	border-color: transparent;
}
.fees-module-cntlr {
    padding-bottom: 40px;
    padding-top: 20px;
}
.fees-module-title{
	text-align: center;
	margin-bottom: 34px;
	text-transform: capitalize;
}
.fees-module{
	max-width: 637px;
	width: 100%;
	background: #F7F7F7;
	border-radius: 8px;
	padding: 34px;
	margin-left: auto;
	margin-right: auto;
	
}
.fees-module ul li{
	line-height: 1;
	padding-bottom: 17px;
	margin-bottom: 17px;
	border-bottom: 1px solid #DDDDDD;
}
.fees-module ul li:last-child{
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.fees-module-item{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 1;
}
.fees-module-item-name{
	color: #000000;
	display: inline-block;
	line-height: 1;
	font-size: 20px;
	padding-right: 10px;
	text-transform: capitalize;
}
.fees-module-item-prize{
	font-weight: 600;
	display: inline-block;
	line-height: 1;
	font-size: 20px;
	color: #A37D36;
}
.fees-tab-title{
	text-align: center;
	margin-bottom: 8px;
}
.fees-tab-inr{
	position: relative;
}

@media(max-width: 767px){
	.fees-tab ul{
		display: block;
		margin: 0;
		border: 1px solid #DDDDDD;
		border-top: 0;
		padding: 8px 0;
		display: none;
	}
	.fees-tab ul li{
		padding: 0;
		line-height: 1;
	}
	.fees-tab ul li:after{
		content: none;
	}
	.fees-tab ul li a{
		padding: 0;
		line-height: 1;
		border: 0;
		font-size: 16px;
		padding: 12px 8px;
		width: 100%;
	}
	
	.fees-tab{
		padding-bottom: 20px;
		margin-bottom: 20px;
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.fees-tab-button{
		line-height: 1;
		padding: 17px 28px 17px 8px;
		background: #F7F7F7;
		border: 1px solid #DDDDDD;
	}
	.fees-tab-button:after{
		position: absolute;
		content: "";
		right: 14px;
		top: 24px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		width: 11px;
		height: 7px;
		background: url(../images/gray-arrow-bottom.svg);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.fees-tab-arrow.fees-tab-button:after{
		background: url(../images/active-gray-arrow-bottom.svg);
		transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
	}
	.fees-tab-button span{
		font-weight: 400;
		font-size: 16px;
		line-height: 1.2;
		text-align: left;
		color: #707070;
		display: inline-block;
	}
}
@media(max-width: 575px){
	.fees-module-item-name{
		width: 100%;
		padding-bottom: 10px;
	}
	.fees-module{
		padding: 28px 15px 28px 10px;
	}
	.fees-module-title{
		margin-bottom: 25px;
	}
	.fees-module-cntlr{
		padding-bottom: 30px;
	}
}