
.footer-wrp{
	position: relative;
	background: linear-gradient(90deg, #0D2E56 0%, #11345E 50%, #0D2E56 100%);
	border-top: 2px solid #A37D36;
}

.ftr-top-cntlr {
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 130px;
}
.ftr-top-col{
	padding-right: 20px;
	padding-top: 25px;
}
.ftr-top-col-01{
	width: 40%;
	padding-right: 70px;
	padding-top: 0;
}
.ftr-top-col-02{
	width:  21%;
}
.ftr-top-col-03{
	width:  22%;
}
.ftr-top-col-04{
	width: 17%;
	padding-right: 0;
}
.ftr-logo {
    margin-bottom: 32px;
}
.ftr-logo a{
	display: inline-block;
	max-width: 270px;
}
.ftr-top-col-title{
	line-height: 1;
	margin-bottom: 25px;
	text-transform: capitalize;
	font-weight: 600;
	color: #fff;
}
.ftr-top-menu ul li{
	line-height: 1;
	margin-bottom: 22px;
}
.ftr-top-menu ul li:last-child{
	margin-bottom: 0;
}
.ftr-top-menu ul li a{
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	line-height: 1;
	text-transform: capitalize;
	padding-left: 20px;
	position: relative;
	color: #fff;
}
.ftr-top-menu ul li a:after {
    content: "";
    background: url(../images/footer-list-icon.svg);
    height: 12px;
    width: 12px;
    position: absolute;
    left: 0;
    top: 2px;
}
.ftr-top-menu ul li a:hover{
	color: #EACC95;
}
.ftr-desc{
	margin-bottom: 34px;
}
.ftr-desc p{
	color:#fff;
}
.ftr-contacts ul li{
	line-height: 1;
	margin-bottom: 30px;
}
.massage-review-cntlr .massage-col {
    margin-bottom: 18px;
}
.massage-review-cntlr .massage-col a,
.massage-review-cntlr .review-col a{
	color: #EACC95;
	font-weight: 600;
	text-decoration: none;
	line-height: 2;
    line-height: 2;
    display: inline-block;

}
.massage-review-cntlr .massage-col a:hover,
.massage-review-cntlr .review-col a:hover{
	opacity: .8;
}
.massage-review-cntlr .massage-col a span,
.massage-review-cntlr .review-col a span{
	display: inline-block;
	line-height: 1;
}
.massage-review-cntlr .massage-col a i,
.massage-review-cntlr .review-col a i{
	margin-right: 15px;
	display: inline-block;
	position: relative;
    top: -2px
}
.footer-bottom{
	padding: 40px 0 36px;
	position: relative;
	background: #061E39;
}
.footer-bottom:after {
    position: absolute;
    background: #A37D36;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0px 4px 8px #000000;
}
.ftr-btm-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.ftr-copyright{
	padding-right: 10px;
}
.ftr-copyright p {
    margin-bottom: 0;
    line-height: 1.7;
    font-size: 13px;
    color: #EAEAEA;
}
.ftr-btm-menu{
	margin-left: auto;
}
.ftr-btm-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*margin:0  -12px;*/
}
.ftr-btm-menu ul li{
	padding: 0 12px;
	position: relative;
	line-height: 1;
}
.ftr-btm-menu ul li:before {
    position: absolute;
    background: #A37D36;
    content: ""!important;
    height: 15px;
    width: 1px;
    top: 50%;
    right: 0;
    left: initial;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/*.ftr-btm-menu ul li:last-child:before{
	content: none!important;
}*/
.ftr-btm-menu ul li a{
	display: inline-block;
	text-decoration: none;
	line-height: 1.7;
	font-size: 13px;
	color: #F7F7F7;
	text-transform: capitalize;
}
.ftr-btm-menu ul li a:hover{
	color: #A37D36;
}
.ftr-designby p,
.ftr-designby p a {
    display: inline-block;
    text-decoration: none;
    line-height: 1.7;
    font-size: 13px;
    color: #F7F7F7;
    text-transform: capitalize;
    margin-bottom: 0;
}
.ftr-designby p a{
	color: #EACC95;
	font-weight: 600;
}
.ftr-designby p a:hover{
	text-decoration: underline;
}
.ftr-designby p{
	padding-left: 12px;
	
}
@media(max-width: 1699px){

}
@media(max-width: 1199px){
	.ftr-top-cntlr{
		padding-bottom: 100px;
	}
	.ftr-top-col-01 {
		padding-right: 40px;
		width: 41%;
	}
	.ftr-top-col-02 {
		width: 18%;
	}
	.ftr-top-col-04 {
		width: 19%;
	}
}
@media(max-width: 991px){
	.ftr-top-cntlr{
		padding-bottom: 63px;
		padding-top: 63px;
	}
	.ftr-logo a{
		max-width: initial;
	}
	.ftr-logo {
		margin-bottom: 25px;
		text-align: center;
	}
	.ftr-top-col-01 {
		padding-right: 0;
		width: 100%;
		margin-bottom: 0;
	}
	.ftr-desc {
		margin-bottom: 2px;
		max-width: 400px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.massage-review-cntlr{
		display: flex;
		justify-content: center;
	}
	.massage-review-cntlr .massage-col {
		margin-right: 40px;
	}
	.review-col,
	.massage-col{
		text-align: center;
	}
	.ftr-top-col-04,
	.ftr-top-col-03{
		width: 27%;
	}
	.ftr-top-col-03{
		padding-right: 10px;
	}
	.ftr-top-col-02 {
		width: 40%;
		padding-left: 15%;
		padding-right: 10px;
	}
	.ftr-btm-cntlr{

	}
	.ftr-copyright {
		padding-right: 0;
		text-align: center;
		width: 100%;
		margin-bottom: 28px;
	}
	.ftr-btm-menu {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 24px;
	}
	.ftr-designby{
		width: 100%;
		text-align: center;
		line-height: 1;
	}
	.footer-bottom{
		padding: 24px 0 22px;
	}
	.ftr-btm-menu ul li:last-of-type:before{
		content: none;
		display: none;
	}
	.ftr-designby p {
		padding-left: 0;
	}
	.ftr-desc p{
		line-height: 1.5;
	}
}
@media(max-width: 800px){
	.ftr-top-col-02{
		padding-left: 12%;
	}
}
@media(max-width: 767px){
	.ftr-top-col-04,
	.ftr-top-col-03,
	.ftr-top-col-02 {
		width: 100%;
		padding: 0;
		margin-bottom: 50px;
	}
	.ftr-top-col-04{
		margin-bottom: 0;
	}
	.ftr-logo {
		margin-bottom: 33px;
		text-align: left;
	}
	.ftr-desc{
		margin: 0;
		text-align: left;
		padding: 0 0 20px 0;
	}
	.massage-review-cntlr {
		display: block;
	}
	.massage-review-cntlr .massage-col {
		margin-right: 0;
	}
	.review-col, .massage-col {
		text-align: left;
	}
	.ftr-top-col-01{
		margin-bottom: 42px;
	}
	.ftr-top-cntlr{
		padding-bottom: 20px;
	}
	.ftr-designby,
	.ftr-copyright{
		text-align: left;
	}
	.ftr-btm-menu{
		margin-left: initial;
		margin-right: initial;
	}
	.ftr-btm-menu ul{
		margin:0 -12px;
	}
	.ftr-desc p{
		line-height: 2;
	}
	.ftr-top-col-title{
		font-size: 21px!important;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	
}
