.galler-sec{
	background: #fff!important;
	max-width: 1920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: none!important;
	padding-top: 44px!important;
	padding-bottom: 90px!important;
}
.galler-sec .practice-gallery-grid-img-cntlr{
	box-shadow: none;
	margin-bottom: 15px;
	opacity: 0.7;
	border-bottom: none;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.galler-sec .why-choose-grids {
    margin: 0 0;
    padding: 0 18px;
}
.galler-sec .why-choose-grids .practice-gallery-grid-col {
	width: 20%;
	padding: 0 12px;
	margin-bottom: 22px;
}
.galler-sec .practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
    height: 370px;
}
.galler-sec .practice-gallery-grid-title, .galler-sec .practice-gallery-grid-title a {
    color: #333333;
    text-align: left;
}
.galler-sec .practice-gallery-grid-title a:hover{
    color: #EACC95;
}
.galler-sec .practice-gallery-grid-des {
    text-align: left;
}
.galler-sec .practice-gallery-grid-img-cntlr:before{
    content: '';
    position: absolute;
    width: calc( 100% - 50px );
    height: calc(100% - 50px);
    opacity: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-top: 4px solid #A37D36;
    border-left: 4px solid #A37D36;
    border-bottom: 4px solid #A37D36;
    border-right: 4px solid #A37D36;
    right: 20px;
    left: 20px;
    top: 20px;
    bottom: 20px;
    z-index: 1;
}
.galler-sec .practice-gallery-grid-img-cntlr:after{
	content: "";
	position: absolute;
	height: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #A37D36;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
	opacity: 1;
}
.galler-sec .practice-gallery-grid-img-cntlr:hover:after{
	opacity: 0;
}
/*.galler-sec .practice-gallery-grid-img-cntlr:hover{
	opacity: 1;
	border-bottom: 4px solid transparent;
	transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}*/
.galler-sec .practice-gallery-grid-img-cntlr:hover:before{
    opacity: 1;
}
.galler-sec .practice-gallery-grid-img-cntlr:hover{
	opacity: 1;
}
.after-before-grids-cntlr{
	padding-left: 18px;
	padding-right: 18px;
}
.after-before-grids{
	display: flex;
	flex-wrap: wrap;
}
.after-before-grd-item-col{
	width: 33.3333%;
	padding: 0 12px 20px;
}
.after-before-grd-item-col.width-50{
	width: 50%;
}
.after-before-des{
	padding-top: 15px;
}
.after-before-des-title{
	padding-left: 20px;
	position: relative;
	margin-bottom: 10px;
}
.after-before-des-title:before{
	content: "";
    position: absolute;
    left: 0;
    background: url(../images/gallery-title-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 13px;
    height: 12px;
    top: 4px;
}
.after-before-des-title a{
	text-decoration: none;
	color: #333333;
}
.afterBeforeEffect img{
	transition: none;
}
.afterBeforeEffect-bx{
	border-bottom: 4px solid #A37D36;
}
.twentytwenty-horizontal .twentytwenty-after-label:before {
    right: 25px;
}
.twentytwenty-horizontal .twentytwenty-before-label:before {
    left: 20px;
}
.twentytwenty-horizontal .twentytwenty-before-label:before, 
.twentytwenty-horizontal .twentytwenty-after-label:before {
    top: initial;
    bottom: 15px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    font-size: 18px;
    font-family: 'SourceSansPro';
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: initial;
}
.twentytwenty-handle{
	height: 50px;
	width: 50px;
	background: #A37D36;
	border: 2px solid #A37D36;
	border-radius: 100%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: 0;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
}
.twentytwenty-horizontal .twentytwenty-handle:before, 
.twentytwenty-horizontal .twentytwenty-handle:after, 
.twentytwenty-vertical .twentytwenty-handle:before, 
.twentytwenty-vertical .twentytwenty-handle:after{
	background: #A37D36;
	width: 4px;
	box-shadow: 0 0px 0 white, 0px -3px 5px rgb(255 255 255);
}
.twentytwenty-left-arrow{
	border: none;
	margin-left: -10px;
	margin-top: 0;
	background: url('../images/after-before-handle-left-arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 12px;
	height: 20px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.twentytwenty-right-arrow{
	border: none;
	margin-right: -22px;
	margin-top: 0;
	background: url('../images/after-before-handle-right-arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 11px;
	height: 20px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.twentytwenty-overlay{
	background: rgba(6,30,57,0);
}
.twentytwenty-overlay:hover {
    background: rgba(6, 30, 57, 0.6);
}
.filter-button-cntlr{
	padding-bottom: 30px;
}
.filte-button ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-right: -6px;
}
.filte-button ul li{
	padding: 0 6px 12px;
}
.filte-button ul li a{
	text-decoration: none;
	padding: 11px 17px;
	background: transparent;
	border: 1px solid #29467D;
	border-radius: 52px;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	color: #29467D;
	text-transform: capitalize;
	display: inline-block;
	vertical-align: baseline;
}
.filte-button ul li.active a,
.filte-button ul li a:hover{
	background: #29467D;
	color: #fff;
}



@media(max-width: 1599px){
	.galler-sec .practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
	    height: 310px;
	}
}

@media(max-width: 1399px){
	.galler-sec .practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
	    height: 250px;
	}
}
@media(max-width: 1299px){
	.galler-sec .why-choose-grids .practice-gallery-grid-col{
		width: 25%;
	}
}
@media(max-width: 991px){
	.galler-sec .why-choose-grids .practice-gallery-grid-col{
		width: 33.3333%;
	}
	.galler-sec{
		padding-bottom: 75px!important;
	}
}
@media(max-width: 767px){
	.galler-sec .why-choose-grids .practice-gallery-grid-col{
		width: 50%;
	}
	.galler-sec .practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
	    height: 310px;
	}
	.after-before-grd-item-col{
		width: 50%;
	}
}
@media(max-width: 575px){
	.filter-button-cntlr{
		padding-bottom: 40px;
	}
	.galler-sec{
		padding-bottom: 60px!important;
	}
	.galler-sec .why-choose-grids .practice-gallery-grid-col{
		width: 100%;
	}
	.galler-sec .why-choose-grids{
		max-width: 330px;
		margin: 0 auto;
	}
	.after-before-grd-item-col{
		width: 100%;
	}
	.after-before-grd-item-col.width-50{
		width: 100%;
	}
	.after-before-grids{
		max-width: 330px;
		margin: 0 auto;
	}
	.galler-sec .why-choose-grids{
		padding: 0 20px;
	}
	.galler-sec .why-choose-grids .practice-gallery-grid-col{
		padding: 0;
	}
}