
.header{    
    border-bottom: 2px solid #A37D36;
    box-shadow: 0px 2px 20px rgba(3, 23, 46, 0.7);
}
.topbar{
    background: linear-gradient(90deg, #0D2E56 0%, #11345E 50%, #0D2E56 100%);
}
.topbar-cntlr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 9px 0 11px;
}
.topbar-left{
    padding-right: 10px;
}
.topbar-right-cntlr{
    margin-left: auto;

}
.mobile-buttons-cntlr{
    width: 100%;
}
.mobile-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.mobile-btn-col{
    padding: 0 8px;
}
.mobile-btn-col a{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #F7F7F7;
    min-width: 142px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 9px 7px;
    text-align: center;
}
.mobile-btn-col-02 a{
    background: #29467D;
    border-color: #29467D;
}
.mobile-btn-col a:hover{
    color: #EACC95!important;
    background: transparent;!important;
    border-color: #EACC95!important;
}
.topbar-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.topbar-menu{

}
.topbar-menu ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.topbar-menu ul li{
    padding: 0 8px;
    line-height: 1;
}
.topbar-menu ul li a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    line-height: 1;
}
.topbar-menu ul li a:after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 11px;
    height: 11px;
    background-image: url(../images/topbar-menu-icon.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.topbar-menu ul li a:hover{
    color: #EACC95;
}
.book-appointment-btn{
   padding-right: 22px; 
}
.book-appointment-btn a{
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 11.7px;
    line-height: 1;
    letter-spacing: 1px;
    color: #EACC95;
}
.book-appointment-btn a:hover{
    color:#e6e5e5;

}
.hdr-socials{

}
.hdr-socials ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.hdr-socials ul li{
    padding: 0 10px;
    line-height: 1;
}
.hdr-socials ul li a i,
.hdr-socials ul li a{
    display: inline-block;
}
.hdr-socials ul li a:hover i svg{
    fill: #EACC95;
}
.header-wrap{
    padding: 30px 0;
}
.header-inr{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.hdr-lft{
	padding-right: 10px;
}
.logo{
	
}
.logo a{
	display: inline-block;
	max-width: 310px;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-menu{
	
}
nav.main-nav ul li a{
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #29467D;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -14px;
	padding-top: 34px;
}
nav.main-nav > ul > li{
	padding: 0 14px;
	
	line-height: 1;
}
nav.main-nav > ul > li > a{
	padding-bottom: 34px;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children{
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover > a,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #EACC95;
}
nav.main-nav > ul > li.menu-item-has-megamenu > a,
nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 17px;
}
nav.main-nav > ul > li.menu-item-has-megamenu > a:before,
nav.main-nav > ul > li.menu-item-has-children > a:before {
    position: absolute;
    top: 5px;
    right: 0;
    content: "";
    background-image: url(../images/down-icon.svg);
    width: 11px;
    height: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-megamenu:hover > a:before,
nav.main-nav > ul > li.menu-item-has-children:hover > a:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    background-image: url(../images/down-icon-hvr.svg);
}
nav.main-nav > ul > li.menu-item-has-children > a:after{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 1px;
    transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    -webkit-transform: translate(-50%, -80%);
    -o-transform: translate(-50%, -80%);
    content: "";
    background-image: url(../images/megamenu-polygon.svg);
    width: 24px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: -99999;
    opacity: 0;
    visibility: hidden;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    z-index: 99999;
    visibility: visible;
    opacity: 1;
    margin-top: 1px;
}
nav.main-nav > ul > li.menu-item-has-megamenu > a:after{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 1px;
    transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    -webkit-transform: translate(-50%, -80%);
    -o-transform: translate(-50%, -80%);
    content: "";
    background-image: url(../images/megamenu-polygon.svg);
    width: 49px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: -99999;
    opacity: 0;
    visibility: hidden;
}
nav.main-nav > ul > li.menu-item-has-megamenu:hover > a:after{
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    z-index: 99999;
    visibility: visible;
    opacity: 1;
    margin-top: 1px;
}
nav.main-nav > ul > li.menu-item-has-megamenu{
    position: initial;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu{
    background: #11345E;
    padding: 30px 20px 6px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: -9999;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-sizing: border-box;
    border: 1px solid #A37D36;
    visibility: hidden;
}

nav.main-nav > ul > li.menu-item-has-megamenu:hover > ul.megamenu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu{
    display: flex;
    flex-wrap: wrap;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children{
    padding: 0 10px;
    margin-bottom: 24px;
    width: 20%;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > a{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 13.5px;
    line-height: 1;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #F7F7F7;
    padding: 10px 10px;
    background: #29467D;
    border-radius: 4px;
    margin-bottom: 18px;
    text-align: center;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > a:hover{
    background: #c6ad78;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu{

}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu > li{
    line-height: 1;
    margin-bottom: 17px;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu > li:last-of-type{
    margin-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu > li a{
    font-weight: 400;
    font-size: 13.5px;
    line-height: 1.1;
    color: #FFFFFF;
     display: inline-block;
    text-decoration: none;
    position: relative;
    padding-left: 18px;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu > li a:hover{
    color: #EACC95;
}
nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu > li a:after{
    position: absolute;
    top: 1px;
    left: 0;
    content: "";
    background-image: url(../images/squre.svg);
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #11345E;
    z-index: -9999;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    border: 1px solid #A37D36;
}
nav.main-nav > ul > li.menu-item-has-children:nth-last-child(2) > ul.sub-menu{
    left: initial;
    right: 0;
}
nav.main-nav > ul > li.menu-item-has-children:last-child > ul.sub-menu{
    left: initial;
    right: 0;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 0 0;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #EACC95;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
    color: #EACC95;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    display: block;
    padding: 10px 10px 10px 20px;
    position: relative;
    line-height: 1;
    font-size: 14px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
}


.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 81px;
    padding-bottom: 39px;
    height: 100%;
    max-width: 375px;
    width: 100%;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    overflow-x: hidden; 
}
.allWork .xs-mobile-menu {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-pop-up-menu-inr {
    height: 100%;
    width: 100%;
}
.xs-pop-up-menu-top{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 999999;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}
.xs-pop-up-menu-top-inr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    position: relative;
}

.xs-pop-menu-con {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 30px 0;
    z-index: 10;
    padding-bottom: 0;
}
.xs-pop-up-menu-btm {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #0D2E56 0%, #11345E 50%, #0D2E56 100%);
    padding: 10px 20px 12px;
}
.xs-pop-up-menu-btm .hdr-socials ul{
    justify-content: center;
}

body.allWork {
    overflow: hidden;
}

.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}

.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.hamburgar-cntlr{
    margin-left: auto;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 11px 8px;
}
.hamburger-icon{
    width: 24px;
    height: 18px;
    position: relative;
}
.hamburger-icon span {
    position: absolute;
    content: "";
    border-radius: 1px;
    height: 2px;
    left: 0;
    right: 0;
    top: 0;
    background: #29467D;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hamburger-icon span:nth-child(2) {
    top: 8px;
    left: 0;
    right: 0;
}
.hamburger-icon span:nth-child(3) {
    top: 16px;
}
body.allWork .hamburger-icon span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
body.allWork .hamburger-icon span:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
body.allWork .hamburger-icon span:nth-child(2) {
    content: none;
    display: none;
}

@media(max-width: 1199px){
    .header-wrap {
        padding: 22px 0;
    }
    .book-appointment-btn a{
        font-size: 11px;
    }
    .topbar-menu ul li a{
        font-size: 12px;
    }
    .logo a {
        max-width: 250px;
    }
    nav.main-nav > ul{
        margin: 0 -10px;
    }
    nav.main-nav > ul > li {
        padding: 0 10px;
    }
    nav.main-nav ul li a{
        font-size: 14px;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu > li a,
    nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > a,
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
        font-size: 13px;
    }
}
@media(max-width: 991px){
    .header {
        border-bottom: 1px solid #DDDDDD;
        box-shadow: none;
    }
    .topbar-cntlr{
        padding: 8px 0 0 0;
    }
    .mobile-btn-col{
        margin-bottom: 8px;
    }
    .header-wrap {
        padding: 18px 0;
    }
    .logo a {
        max-width: 310px;
    }
    nav.main-nav{
        padding-top: ;
    }
    nav.main-nav > ul {
        display: block;
        padding: 0;
        margin: 0;
    }
    nav.main-nav > ul > li {
        padding: 0;
        text-align: left;
        margin-bottom: 0;
        padding: 15px 40px 15px 20px;
    }
    nav.main-nav > ul > li > a{
        font-size: 18px;
        padding: 0;
        width: 100%;
    }
    nav.main-nav > ul > li.menu-item-has-children > a {
        padding-right: 0;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu,
    nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
        position: static;
        background: transparent;
        z-index: initial;
        width: 100%;
        padding: 0;
        transition: initial;
        -ms-transition: initial;
        -webkit-transition: initial;
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
        transform-origin: initial;
        opacity: 1;
        box-sizing: border-box;
        padding-top: 27px;
        display: none;
        box-shadow: initial;
        -ms-box-shadow: initial;
        -webkit-box-shadow: initial;
        background: transparent;
        border: 0;
        visibility: visible;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
        padding: 0 0;
        line-height: 1;
        display: block;
        position: relative;
        border: none;
        margin-bottom: 10px;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu ul.megamenu li a,
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
        padding: 0;
        font-size: 15px!important;
        color: #29467D!important;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu:hover > a:before,
    nav.main-nav > ul > li.menu-item-has-children:hover > a:before {
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
        background-image: initial;
    }
    
    nav.main-nav > ul > li.menu-item-has-megamenu > a,
    nav.main-nav > ul > li.menu-item-has-children > a{
        padding-right: 0;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu > a:before,
    nav.main-nav > ul > li.menu-item-has-children > a:before{
        position: absolute;
        top: 6px;
        right: -20px;
        content: "";
        background-image: url(../images/down-icon.svg)!important;
        width: 15px;
        height: 8px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu.sub-menu-arrow > a:before,
    nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow > a:before {
        transform: rotate(-180deg)!important;
        -ms-transform: rotate(-180deg)!important;
        -webkit-transform: rotate(-180deg)!important;
        -o-transform: rotate(-180deg)!important;
        background-image: url(../images/down-icon-hvr.svg)!important;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover, 
    nav.main-nav > ul > li.menu-item-has-children:hover > a, 
    nav.main-nav > ul > li > a:hover, 
    nav.main-nav > ul > li.current-menu-item > a{
        color: #29467D;
    }
    nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow > a{
        color: #EACC95;
    }
    nav.main-nav > ul > li.menu-item-has-children > a:after,
    nav.main-nav > ul > li.menu-item-has-megamenu > a:after{
        display: none;
        content: none;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
        margin-bottom: 0;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children {
        padding: 0 0;
        margin-bottom: 17px;
        width: 100%;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > a{
        background: transparent;
        padding: 0;
        margin-bottom: 0;
    }
    nav.main-nav > ul > li.menu-item-has-megamenu > ul.megamenu > .menu-item-has-children > .sub-menu{
        padding-top: 17px
    }
}
@media(max-width: 767px){
    .logo a {
        max-width: 227px;
    }
    .header-wrap {
        padding: 14px 0;
    }
}
@media(max-width: 575px){
    
}
@media(max-width: 479px){
    
}
@media(max-width: 359px){
    .mobile-btn-col a{
        min-width: 120px;
    }
}