.header{
	background: linear-gradient(90deg, #F7F7F7 0%, #FFFFFF 50%, #F7F7F7 100%);
	border-bottom: 2px solid #A37D36;
	box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.35);
	padding-top: 40px;
}
.header-inr{
	
}
.hdr-lft{
	width: 100%;
	margin-bottom: 10px;
}
.logo{
	text-align: center;
}
.logo a{
	display: inline-block;
	max-width: 340px;
}
.hdr-rgt{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}
.hdr-menu{
	padding-right: 10px;
}
nav.main-nav ul li a{
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 14.5px;
	line-height: 1;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #29467D;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -16px;
	padding-top: 32px;
}
nav.main-nav > ul > li{
	padding: 0 16px;
	position: relative;
	line-height: 1;
}
nav.main-nav > ul > li > a{
	padding-bottom: 30px;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover > a,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #EACC95;
}
nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children > a:before {
    position: absolute;
    top: 3px;
    right: 0;
    content: "";
    background-image: url(../images/down-icon.svg);
    width: 11px;
    height: 7px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    background-image: url(../images/down-icon-hvr.svg);
}

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: -9999;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 0 0;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #efefef;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover{
	background: #efefef75;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    display: block;
    padding: 10px 10px 10px 16px;
    position: relative;
    line-height: 1;
    font-size: 13px;
    overflow: hidden;
    text-decoration: none;

}
/* nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #EACC95;
} */
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
}

.hdr-btn{
	margin-left: auto;
}