.faq-sec {
    padding-top: 100px;
    padding-bottom: 75px;
}
.faq-sec .sec-entry-hdr-cntlr,
.locations-sec .sec-entry-hdr-cntlr{
    padding-bottom: 56px;
}
.faq-sec .faq-sec-inner {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.faq-grd-block:first-child{
	padding-top: 40px;
}
.faq-grd-block{
	padding: 90px 0;
}
.faq-sec-inner .faq-grds .faq-grd{
	margin-bottom: 8px;
}
.faq-grd-hdr{
	padding-bottom: 15px;
}
.faq-accordion-hdr {
    position: relative;
    cursor: pointer;
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    padding: 17px 55px 17px 16px;
}
.faq-accordion-title{
	margin-bottom: 0!important;
	cursor: pointer;
	line-height: 1.2;
	font-weight: 400;
    color: #333333;
}
.faq-accordion-icon-box:after,
.faq-accordion-title,
.faq-accordion-hdr,
.faq-accordion-icon-box,
.faq-accordion-icon-box:before{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.faq-accordion-hdr:hover .faq-accordion-title{
    color: #29467D;
}
.faq-accordion-icon-box {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    border: 2px solid #29467D;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-accordion-icon-box i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.faq-accordion-icon-box i.faq-active-icon{
    opacity: 0;
    visibility: hidden;
    margin-top: -2.5px;
}
.active .faq-accordion-icon-box i.faq-icon{
    opacity: 0;
    visibility: hidden;
}
.active .faq-accordion-icon-box i.faq-active-icon{
    opacity: 1;
    visibility: visible;
    
}

.active .faq-accordion-icon-box {
	border-color: #fff;
}
.active .faq-accordion-hdr {
	background: #11345E;
	border: 1px solid #11345E;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16);
    border-bottom: 2px solid #A37D36;
}
.active .faq-accordion-title{
    color: #fff!important;
}

.active .faq-accordion-title{
	color: #fff;
}
.faq-accordion-des{
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #11345E;
	padding: 24px 37px 24px 16px;
	margin-bottom: 16px;
}

.faq-accordion-des{
	display: none;
}
.faq-accordion-des.active{
    display: block;
}
.faq-accordion-des a{
	padding: 12px 17px;
	position: relative;
}
.faq-accordion-des a i{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.faq-cntlr .breadcrumb-cntlr{
	padding-top: 5px;
}

.locations-sec {
    padding-bottom: 75px;
    padding-top: 30px;
}
.page-template-page-contact-us .locations-sec{
    padding-bottom: 0;
}
.page-template-page-contact-us .map-loc-desc-cntlr{
    background: #F7F7F7;
}
.locations-sec-grids {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    margin-bottom: 0!important;
}
.locations-sec-grids .locations-sec-grid-item {
	width: 33.3333%;
	padding: 0 8px;
}
.locations-des-title{
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 16px;
	color: #333333;
}
.locations-des-title > a{
    color: #333333;
    text-decoration: none;
    padding: 0!important;
    margin-right: 0!important;
    border: none!important;
}
.locations-des-title > a:hover{
    color: #A37D36;
}
.locations-area iframe{
    width: 100%;
    height: 321px;
}
.locations-sec-grid-item .locations-area{
	margin-bottom: 35px;
	border-bottom: 2px solid #A37D36;
    line-height: 0;
}
.locations-title-cntrl{
	margin-bottom: 27px;
}
.locations-sec-inner{
    position: relative;
}
.location-prev-next .revw-next,
.location-prev-next .revw-prev{
    top: 205px;
    transform: initial;
}
.locations-sec-grids .locations-sec-grid-item{
    margin-bottom: 55px;
}
.office-time-zoon,
.office-contact,
.office-social{
    line-height: 1;
    margin-bottom: 32px;
}
.office-time-zoon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.office-des-title {
    color: #A37D36;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.25;
    font-weight: 600;
    font-family: 'SourceSansPro';
}
.locations-des {
    /*padding-right: 11px;*/
}

.office-time-zoon span {
    display: block;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 20px;
}
.office-time-zoon span:last-of-type {
    margin-bottom: 0;
}
.locations-title-cntrl a {
    padding: 12px 15px;
    margin-right: 12px;
    border: 1px solid #29467D;
}
.locations-title-cntrl > a:last-child{
    margin-right: 0px;
}
.locations-title-cntrl > a.cdc-trnsprnt-btn{
    border: 1px solid #29467D;
}
.office-contact a {
    text-decoration: none;
    font-weight: 600;
    color: #29467D;
    font-size: 20px;
}
 .office-social ul li a i {
    width: 40px;
    height: 40px;
    border: 1px solid #707070;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .office-contact a:hover {
    color: #A37D36;
}
 .office-social ul li a:hover i{
    border: 1px solid #11345E;
}
 .office-social ul li a:hover i svg{
	fill: #11345E;
}
 .office-social ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
 .office-social ul li {
    padding: 0 4px;
}

.parallaxie-bg-Size_auto{
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
}
.locationSlider .locations-sec-grid-item{
    display: none;
    position: relative;
}
.locationSlider .locations-sec-grid-item:first-child{
    display: block;
}
.locationSlider.slick-initialized .locations-sec-grid-item{
    display: block;
}

.abtis-row-text-inr .locations-des {
    padding-top: 8px;
}
.abtis-row-text-inr .locations-des{
    line-height: 1.8;
}
.tl-review-sec .sec-entry-hdr-cntlr{
padding-bottom: 4px;
}
@media(max-width: 1399px){
    .about-intro-sec .office-time-zoon, 
    .about-intro-sec .office-contact, 
    .about-intro-sec .office-social {
        margin-bottom: 23px;
    }    
}
@media(max-width: 1299px){
    .location-prev-next{
        display: none;
    }
}
@media(max-width: 1199px){
    .faq-sec {
        padding-top: 80px;
        padding-bottom: 55px;
    }    
    .locations-des-title{
        font-size: 24px;
    }
    .locations-sec {
        padding-bottom: 65px;
        padding-top: 20px;
    }
    .locations-sec-grid-item .locations-area{
        margin-bottom: 28px;
    }
    .locations-sec .sec-entry-hdr-cntlr {
        padding-bottom: 50px;
    }
    .locations-sec-grids .locations-sec-grid-item {
        margin-bottom: 48px;
    }
    .locations-area iframe{
        height: 276px;
    }
}
@media(max-width: 991px){
    .locations-sec-grids .locations-sec-grid-item{
        width: 50%;
    }
    .locations-sec-inner {        
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    .locations-area iframe{
        height: 292px;
    }
}
@media(max-width: 767px){
    .faq-sec {
        padding-top: 100px;
        padding-bottom: 75px;
    }
    .page-template-page-contact-us .faq-sec{
        padding-top: 70px;
    }
    .faq-accordion-hdr{
        padding: 15px 48px 15px 16px;
    }
    .faq-accordion-title{
        font-size: 18px;        
    }
    .faq-accordion-des{
        padding: 24px 16px 24px 16px;
    }
    .locations-sec {
        padding-bottom: 75px;
        padding-top: 30px;
    }
    .locations-sec .sec-entry-hdr-cntlr {
        padding-bottom: 40px;
    }
    .locations-sec-grids .locations-sec-grid-item {
        margin-bottom: 40px;
    }
    .locations-sec-grids .locations-sec-grid-item{
        width: 100%;
    }
    .locations-sec-inner {        
        max-width: 400px;
    }
    .locations-area iframe{
        height: 341px;
    }
}
@media(max-width: 575px){
    .office-des-title{
        font-size: 16px;
        line-height: 1.25;
    }
    .office-time-zoon span{
        font-size: 21px;
        line-height: 1.5;
    }
    .office-contact a{
        font-size: 21px;
        line-height: 1.5;
    }
    .locations-title-cntrl{
        margin-bottom: 24px;
    }
    .office-time-zoon, 
    .office-contact, 
    .office-social{
        margin-bottom: 24px;
    }
}
@media(max-width: 479px){

}
@media(max-width: 375px){
    .locations-area iframe{
        height: 239px;
    }
}