.why-choose-sec{
	padding: 90px 0;
	border-top: 2px solid #A37D36;
	border-bottom: 2px solid #A37D36;
	background: linear-gradient(0deg, #0C2543, #0C2543);
/*	background-position: top left!important;*/
}
.why-choose-sec .sec-entry-hdr p,
.why-choose-sec .sec-entry-hdr-title{
	color: #fff;
}
.why-choose-sec .sec-entry-hdr-cntlr{
	padding-bottom: 70px;
}
.why-choose-grids {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.why-choose-grid-col {
    width: 25%;
    padding: 0 10px;
    padding-bottom: 15px;
}
.why-choose-grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 35px;
}
.why-choose-grid-img i {
    display: inline-block;
    height: 80px;
}
.why-choose-grid-img i img{
	max-height: 80px;
	width: auto;
}
.why-choose-grid-des {
	padding: 0 10px 15px;
    text-align: center;
}
.why-choose-grid-title {
    color: #fff;
    font-weight: 600;
    line-height: 1.24;
    margin-bottom: 16px;
}
.why-choose-grid-des p {
    color: #fff;
}
.why-choose-grid-des p:last-of-type{
	margin-bottom: 0;
}
.why-choose-grid-btn{
	text-align: center;
	padding-top: 50px;
}
.why-choose-grid-btn .cdc-btn{
/*	box-shadow: 0px 0px 6px rgba(2, 13, 28, 0.8);*/
	padding: 14.5px 10px;
	min-width: 190px;
	font-size: 17px;
}
.review-sec{
	padding: 80px 0 85px;
}
.review-grids {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.review-grid-col {
    width: 50%;
    padding: 0 10px;
    padding-bottom: 30px;
}
.review-grids-cntlr {
    padding: 0;
}
.review-grid-item{
	border: 1px solid #DDDDDD;
	background: #F7F7F7;
	text-align: center;
    padding: 0 20px;
    padding-bottom: 70px;
    margin-top: 55px;
}
.review-pro-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -55px;
    text-align: center;
    margin-bottom: 25px;
    z-index: 1;
}
.review-pro-img i {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid #B8B8B8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    overflow: hidden;
}
.review-pro-img i img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.review-pro-rating span i{
	display: inline-block;
	line-height: 1;
	padding: 0 4px;
}
.review-pro-rating span i img {
    width: 28px;
}
.review-pro-rating{
	display: inline-block;
	margin-bottom: 30px;
	line-height: 1;
}
.review-pro-rating span {
    line-height: 1;
    display: flex;
}
.review-tstmnl-mgs{
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 28px;
	color: #333333;
}
.review-pro-des {
    margin-bottom: 16px;
    overflow: hidden;
    height: 148px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
/*.review-pro-des p #more_text{
	display: none;
}*/
/*.viewAllText p #more_text {
    display: inline;
    transition: all 0.5s;
}*/

.viewAllText p #dots {
    display: none;
}
.viewAllText + .review-pro-des-btn #rdmore_bnt,
.review-pro-des-btn #rdless_bnt{
	display: none;
}
.viewAllText + .review-pro-des-btn #rdless_bnt{
	display: inline-block;
}
.review-pro-des p{
	font-size: 20px;
	line-height: 1.5;
}
.review-pro-des p:last-of-type{
	margin-bottom: 0;
}
.review-pro-des-btn{
	text-align: center;
	line-height: 1;
	margin-bottom: 28px;
}
.review-pro-des-btn button, 
.review-pro-des-btn a {
    line-height: 1.25;
    font-weight: 600;
    color: #29467D;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 1px dashed #29467D;
    background: none;
    text-transform: capitalize;
    padding: 0;
}
.review-pro-des-btn a:hover,
.review-pro-des-btn button:hover{
	color: #A37D36;
	border-color: #A37D36;
}
.review-pro-name{
	line-height: 1;
}
.review-pro-name strong {
	color: #A37D36;
	font-size: 20px;
	font-weight: 400;
	display: block;
	line-height: 1.4;
	text-transform: capitalize;
}
.review-pro-name span{
	color: #333333;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 1.1;
}
.review-grid-btns ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.review-grid-btns {
    padding-top: 40px;
}
.review-grid-btns ul li{
	padding: 0 8px;
}
.reviewSlider .review-grid-col{
	display: none;
}
.reviewSlider .review-grid-col:first-child{
	display: block;
}
.reviewSlider.slick-initialized .review-grid-col{
	display: block;
}
.review-grids-cntlr {
    position: relative;
}
.revw-next,
.revw-prev{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	cursor: pointer;
}
.revw-next:hover span svg,
.revw-prev:hover span svg{
	fill: #A37D36;
}
.revw-prev{
	left: -35px;
}
.revw-next{
	right: -35px;
}
.cta-module-wrp {
    padding: 35px;
}
.cta-module {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 25px 60px 40px;
    border: 1px solid #EACC95;
}
.cta-module-des-ctlr {
    width: 73%;
}
.cta-btn-ctlr {
    width: 27%;
    display: flex;
}
.cta-btn {
    margin-left: auto;
    margin-top: auto;
}
.cta-module-des-title{
	color: #fff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 6px #03172E;
	font-weight: 600;
}
.cta-module-des-title strong{
	font-style: italic;
	font-weight: 700;
}
.cta-module-des-ctlr .diamond-module{
	margin-bottom: 25px;
}
.cta-module-des p{
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
}
.cta-module-des p:last-of-type{
	margin-bottom: 0;
}
.cta-btn a{
/*	min-width: 190px;*/
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*modal*/
.cox-profile-modal .modal{
	background: rgba(4, 20, 38, 0.95);
}
.cox-profile-modal .modal.show .modal-dialog{
	max-width: 960px;
	width: 100%;
	margin-top: 100px;	
}
.cox-profile-modal .modal-body{
	padding: 40px;
	padding-top: 0;
}
.cox-profile-modal .modal-content {
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 0px 35px 8px rgb(0 0 0 / 40%);
}
.cox-profile-modal .modal-header button{
	margin-left: auto;
	background: transparent;
	padding: 0;
	line-height: 1;
}
.cox-profile-modal .modal-header button:hover i svg{
	fill: #A37D36;
}
.cox-profile-modal .modal-header{
	border: none;
	padding: 32px 30px 24px;
}
.pro-modal-con-cntlr {
    display: flex;
    flex-wrap: wrap;
}
.pro-modal-con-lft {
    width: 34%;
}
.pro-modal-con-rgt {
    width: 66%;
    padding-left: 20px;
}
.pro-modal-img-cntlr {
	border: 8px solid #FFFFFF;
    margin-left: -109px;
}
.pro-modal-img-cntlr img{
	width: 100%;
	height: auto;
}
.pro-modal-title{
	color: #333333;
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.pro-modal-assist-name{
	font-size: 26px;
	font-weight: 400;
	line-height: 1.25;
	color: #11345E;
	margin-bottom: 10px;
}
.pro-modal-assist-name span{
	font-size: 17px;
	font-weight: 600;
	line-height: 1.25;
	color: #29467D;
	margin-left: 8px;
	font-family: 'SourceSansPro';
	border-bottom: 1px dashed #29467D;
}
.pro-modal-addr span{
	color: #A37D36;
	display: inline-block;
	vertical-align: baseline;
}
.pro-modal-addr{
	margin-bottom: 20px;
}
.pro-modal-des p:not(:last-of-type){
	margin-bottom: 30px;
}
.pro-modal-btn{
	padding-top: 9px;
}
@media(max-width: 1399px){
	.why-choose-sec {
		padding: 80px 0;
	}
}
@media(max-width: 1299px){
	.review-prev-next{
		display: none;
	}
}
@media(max-width: 1199px){
    .why-choose-sec {
        padding: 70px 0;
    }
    .why-choose-sec .sec-entry-hdr-cntlr {
    	padding-bottom: 50px;
    }
    .why-choose-grid-title{
    	font-size: 22px;
    }
    .why-choose-grid-btn{
    	padding-top: 40px;
    }
    .why-choose-grid-des p{
    	font-size: 14px;
    }   
    .why-choose-grid-des{
    	padding: 0 0px 15px;
    } 
    .review-tstmnl-mgs br{
    	display: none;
    }
    .review-grid-item{
    	padding-bottom: 55px;
    }
    .review-pro-rating{
    	margin-bottom: 24px;
    }
    .review-tstmnl-mgs{
    	margin-bottom: 20px;
    }
    .review-sec {
    	padding: 70px 0 70px;
    }
    .cta-module-wrp {
    	padding: 30px;
    }
}
@media(max-width: 991px){
    .why-choose-sec {
        padding: 65px 0;
    }
    .why-choose-grid-col{
    	width: 50%;
    }
    .why-choose-grid-des p{
    	font-size: 15px;
    } 
    .why-choose-grids-cntlr {
    	max-width: 700px;
    	width: 100%;
    	margin: 0 auto;
    }
    .why-choose-grid-des {
    	padding: 0 25px 15px;    	
    }
    .why-choose-grid-title {
    	font-size: 25px;
    }
    .review-sec {
    	padding: 50px 0 70px;
    }
    .review-pro-img{
    	margin-bottom: 20px;
    }
    .review-grid-btns {
    	padding-top: 25px;
    }
    .review-pro-des p{
    	font-size: 18px;
    }
}
@media(max-width: 767px){
	.why-choose-grids-cntlr{
		max-width: 100%;
	}
	.why-choose-grid-des {
		padding: 0 10px 15px;
	}
	.why-choose-grid-des p{
    	font-size: 16px;
    	line-height: 2;
    }   
    .why-choose-sec {
        padding-top: 65px;
        padding-bottom: 40px;
        border-bottom: none;
    }  
    .review-pro-img i img,
    .review-pro-img i{
    	height: 80px;
    	width: 80px;
    }
    .review-pro-img {
    	margin-bottom: 12px;
    	margin-top: -41px;
    }
    .review-pro-rating {
    	margin-bottom: 16px;
    }
    .review-grid-col{
    	padding-left: 0;
    	padding-right: 0;
    	width: 100%;
    }
    .review-grids{
    	margin: 0;
    }
    .review-tstmnl-mgs {
    	margin-bottom: 16px;
    	font-size: 21px;
    }
    .review-pro-des p{
    	font-size: 16px;
    	line-height: 2;
    }
    .review-pro-des-btn{
    	margin-bottom: 18px;
    }
    .review-pro-name strong{
    	font-size: 21px;
    	line-height: 1.5;
    }
    .review-grid-item {    	
    	padding: 0 20px;
    	padding-bottom: 30px;
    	margin-top: 41px;
    }
    .review-pro-des{
    	height: 152px;
    }
    .review-sec {
    	padding: 54px 0 80px;
    }
}
@media(max-width: 575px){
	.why-choose-grid-col{
    	width: 100%;
    	padding-left: 0;
    	padding-right: 0;
    }
    .why-choose-grids{
    	margin: 0;
    }
    .why-choose-grids-cntlr {
    	max-width: 400px;
    }
    .why-choose-grid-title{
    	font-size: 28px;
    }
    .why-choose-grid-img{
    	padding: 10px 20px 30px;
    }
    .review-grid-item{
    	padding: 0 10px;
    	padding-bottom: 22px;
    }
    /*.review-pro-des{
    	height: 220px;
    } */  
}
@media(max-width: 479px){
	/*.why-choose-grid-des{
		padding-left: 0;
		padding-right: 0;
	}*/
}