.banner{
	position: relative;
}
.banner-black-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #000;
}
.banner-bg-cntlr{
	position: relative;
	z-index: 2;
}
.banner-bg-cntlr > div{
	height:  100%;
	width:  100%;
}
.bannerBgSlider .banner-bg-cntlr > div{
	display: none;
}

.bannerBgSlider .banner-bg-cntlr > div:first-child{
	display: block;
}

.bannerBgSlider.slick-initialized .banner-bg-cntlr > div{
	display: block;
}
.banner-bg{
	height:  100%;
	width:  100%;
	height: 550px;
}
.bnr-vdo {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
#bt-vdo {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 3;  
}
.bnr-prev-next-cntlr{
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}
.bnr-prev-next-cntlr .container,
.bnr-prev-next-cntlr .container .row,
.bnr-prev-next-cntlr .container .row .col-md-12{
	height: 100%;
}
.bnr-prev-next{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	position: relative;
	
}
.bnr-prev-next > div{
	position: absolute;
	z-index: 8;
	top: 50%;
	transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.bnr-prev-next > div span svg{
	opacity:  0.6;
}
.bnr-prev-next > div span:hover svg{
	opacity:  1;
}
.bnr-prev{
	left: -40px;
}
.bnr-next{
	right: -40px;
}
.banner-desc-wrap{
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}
.bnr-recommended{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: absolute;
	right: -20px;
	bottom: 32px;
	z-index: 10;
}
.start-module{
	padding-right: 14px;
}
.start-module ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -4px;
}
.start-module ul li{
	padding: 0 4px;
}
.start-module ul li i{
	display: inline-block;
	vertical-align: baseline;
}
.bnr-recommended > span{
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: #FFFFFF;
	padding-top: 3px;
	display: inline-block;
}
.bnr-recommended > span a{
	font-weight: 400;
	display: inline-block;
	text-decoration: underline;
	line-height: 1;
	color: #FFFFFF;
	font-style: italic;
}
.bnr-recommended > span a:hover{
	color: #EACC95;
	text-decoration: none;
}
.banner-desc-wrap .container,
.banner-desc-wrap .container .row,
.banner-desc-wrap .container .row .col-md-12{
	height: 100%;
}
.pg-banner-cntlr,
.banner-cntlr{
	position: relative;
	z-index: 7;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	height: 100%;
}
.pg-banner-cntlr{
	min-height: 504px;
}
.pg-banner-desc-cntlr,
.banner-desc-cntlr{
	text-align: center;
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.pg-banner-desc-cntlr{
	max-width:  670px;
}
.pg-banner-title,
.banner-title{
	color: #fff;
	text-align: center;
	line-height: 1;
	margin-bottom: 20px;
	font-weight: 600;
}
.pg-banner-title{
	margin-bottom: 16px;
}
.pg-banner-title span,
.banner-title span{
	font-style: italic;
	font-weight: 700;
}
.pg-banner-desc-cntlr .diamond-module{
	margin-bottom: 16px;
}
.banner-desc-cntlr .diamond-module{
	margin-bottom: 24px;
}
.banner-desc p{
	font-size: 24px;
	color: #fff;
	line-height: 1.8;
}
.pg-banner-desc p{
	font-size: 19px;
	color: #fff;
	line-height: 1.5;
}
.pg-banner-desc p:last-of-type,
.banner-desc p:last-of-type{
	margin-bottom: 0;
}
.banner-desc{
	margin-bottom: 40px;
}
.pg-banner-desc{
	margin-bottom: 30px;
}
.pg-banner-btns,
.banner-btns{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -12px;
}
.pg-banner-btn,
.banner-btn{
	padding: 0 12px;
}
.pg-banner-btn a,
.banner-btn a{
	font-size: 17px!important;
	min-width: 160px;
}
.pg-banner-btn .cdc-trnsprnt-btn,
.banner-btn .cdc-trnsprnt-btn{
	border-width: 1px;
	color: #fff;
	border-color: #fff;
}
.pg-banner-btn .cdc-trnsprnt-btn:hover,
.banner-btn .cdc-trnsprnt-btn:hover{
	border-color: #29467D;
}
.page-banner{
	position: relative;
	overflow: hidden;
}
.page-bnr-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
}
.treatment-sec{
	background: #f7f7f7;
	padding-top: 80px;
	padding-bottom: 40px;
}
.treatment-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.treatment-lft{
	width: 22.83%;
	padding-right: 40px;
}
.treatment-lft .diamond-module{
	margin-bottom: 28px;
}
.treatment-title{
	font-size: 30px;
	margin-bottom: 22px;
}
.treatment-desc{
	margin-bottom: 20px;
}
.treatment-desc p{
	font-weight: 300;
	line-height: 1.5;
	font-size: 19px;
}
.treatment-desc p:last-of-type{
	margin-bottom: 0;
}
.treatment-rgt{
	width: 77.17%;
	position: relative;
}
.custom-prev-next-cntlr{
	position: absolute;
	bottom: 0;
	left: 50px;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 665px;
	max-width: 53%;
	width: 100%;
	justify-content: space-between;
}
.custom-prev-next-cntlr > div{
	cursor: pointer;
}
.custom-prev-next-cntlr > div:hover span svg{
	fill: #EACC95;
}
.treatment-grids{
	margin:  0;
	padding-bottom: 60px;
}
.treatmentSlider .trtmnt-grd-cntlr{
	display: none;
}

.treatmentSlider .trtmnt-grd-cntlr:first-child{
	display: block;
}

.treatmentSlider.slick-initialized .trtmnt-grd-cntlr{
	display: block;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.treatmentSlider .slick-list.draggable{
	padding-left: 40px!important;
	padding-right: 180px!important;
}
.treatmentSlider .slick-active +  .slick-active + .slick-slide,
.treatmentSlider .slick-slide.prevdiv{
	opacity: 0.4;
}
.treatmentSlider .slick-active.prevdiv{
	opacity: 1!important;
}
.has_bg_content_slide .banner-desc-wrap{
	position: relative;
}
/*.has_bg_content_slide .pg-banner-cntlr, 
.has_bg_content_slide .banner-cntlr{
	z-index: 4;
}*/
.has_bg_content_slide .pg-banner-cntlr, 
.has_bg_content_slide .banner-cntlr {
    padding: 91px 0;
}
/*.treatmentSlider .slick-slide:not(.slick-active){
  opacity: 0.4;
}*/




/*.trtmnt-grd-cntlr.slick-current.slick-active{
	opacity: 1;
}
.trtmnt-grd-cntlr.slick-current.slick-active + .trtmnt-grd-cntlr{
	opacity: 1;
}*/

.trtmnt-grd-cntlr{
	padding: 0 12px;
	/*opacity: 0.4;*/
}
/*.treatment-grids:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    background: #fff;
    width: 41%;
    z-index: 1;
}
.treatment-grids:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    background: #fff;
    width: 30px;
    z-index: 1;
}*/
.trtmnt-grd{

}
.trtmnt-grd-img-cntlr{
	height: 360px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.trtmnt-grd-img{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
/*.trtmnt-grd-img-cntlr:hover .trtmnt-grd-img{
	transform: scale(1.04);
	-ms-transform: scale(1.04);
	-webkit-transform: scale(1.04);	
}*/
.treatmentSlider .trtmnt-grd-cntlr.slick-current.slick-active .trtmnt-grd-img-cntlr:hover .trtmnt-grd-img,
.treatmentSlider .trtmnt-grd-cntlr.slick-active .trtmnt-grd-img-cntlr:hover .trtmnt-grd-img{
	transform: scale(1.04);
	-ms-transform: scale(1.04);
	-webkit-transform: scale(1.04);
}
.trtmnt-grd-title{
	margin-bottom: 20px;
	color: #333333;
}
.trtmnt-grd-title a{
	display: inline-block;
	color: #333333;
	text-decoration: none;
}
.trtmnt-grd-title a:hover{
	color: #EACC95;
}
.trtmnt-grd-desc{
	padding-bottom: 20px;
	padding-right: 25px;
}
.trtmnt-grd-desc p{

}
.trtmnt-grd-desc p:last-of-type{
	margin-bottom: 0;
}
.trtmnt-grd-cntlr.slick-slide .trtmnt-grd-img-cntlr a.overlay-link{
	display: none;
}
.trtmnt-grd-cntlr.slick-slide.slick-active .trtmnt-grd-img-cntlr a.overlay-link{
	display: block;
}

.intro-sec{
	padding: 140px 0;
}
.intro-cntlr .sec-entry-hdr-cntlr{
	max-width: 929px;
}
.intro-sec .sec-entry-hdr p:not(:last-of-type){
	margin-bottom: 26px;
}
.intro-btns{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.intro-btn{
	padding: 0 8px;
}

@media(max-width: 1799px){
	.custom-prev-next-cntlr {
	    max-width: 76%;
	}
}
@media(max-width: 1599px){
	.treatment-lft {
    	padding-right: 20px;
	}
	.cdc-btn {
	    padding: 13.5px 16px;
	}
	.intro-sec {
		padding: 120px 0;
	}
}
@media(max-width: 1299px){
	.custom-prev-next-cntlr {
	    max-width: 76%;
	}
	.intro-sec {
		padding: 100px 0;
	}
	.bnr-prev {
	    left: 0;
	}
	.bnr-next {
	    right: 0;
	}
	.bnr-recommended{
		right: 0;
	}
}
@media(max-width: 1199px){
	.intro-sec {
		padding: 80px 0;
	}
	.banner-desc p{
		font-size: 22px;
	}
	.treatmentSlider .slick-list.draggable{
		padding-right: 140px!important;
	}
	.treatment-lft{
		width: 25%;
	}
	.treatment-rgt{
		width: 75%;
	}
}
@media(max-width: 991px){
	.intro-sec {
		padding: 60px 0;
	}
	.banner-desc p{
		font-size: 20px;
	}
	.treatment-lft {
	    width: 100%;
	    padding-right: 0;
	    padding-bottom: 6px;
	    padding-left: 12px;
	}
	.treatment-rgt {
	    width: 100%;
	}
	.treatmentSlider .slick-list.draggable{
		padding-left: 0px!important;
	}
	.custom-prev-next-cntlr {
	    max-width: 78%;
	    left: 12px;
	}
	.trtmnt-grd-title{
		font-size: 28px!important;
	}
	.trtmnt-grd-img-cntlr{
		margin-bottom: 24px;
	}
	.treatment-sec {
	    padding-top: 50px!important;
	    padding-bottom: 50px!important;
	}
}
@media(max-width: 767px){
	.intro-sec {
		padding: 44px 0;
	}
	.banner-bg{
		height: 487px;
	}
	.banner{
		margin-bottom: 65px;
	}
	.bnr-recommended{
		bottom: -45px;
		left: 0;
		justify-content: center;
	}
	.bnr-recommended > span,
	.bnr-recommended > span a{
		color: #333333;
		font-size: 13px;
	}
	.bnr-recommended > span a{
		font-weight: 600;
	}
	.banner-title{
		line-height: 1.25;
		margin-bottom: 32px;
	}
	.banner-desc-cntlr .diamond-module {
	    margin-bottom: 32px;
	}
	.banner-desc p {
	    font-size: 18px;
	}
	.banner-desc p br{
		display: none;
	}
	.banner-desc {
	    margin-bottom: 48px;
	}
	.banner-cntlr{
		padding: 50px 0;
	}
	.start-module ul li img{
		max-width: 20px;
		width: 100%;
	}
	.banner-btn a{
		font-size: 16px!important;
    	min-width: 140px;
	}
	.bnr-prev-next-cntlr{
		display: none;
	}
	.treatment-sec{
		padding-top: 25px!important;
	}
	.treatmentSlider .slick-list.draggable {
	    padding-right: 80px!important;
	}
	.custom-prev-next-cntlr{
		max-width: 81%;
	}
	.treatment-title{
		font-size: 32px!important;
	}
	.treatment-cntlr{
		margin-left: 10px!important;
	}
	.pg-banner-cntlr {
		min-height: initial;
	}
	.pg-banner-desc p{
		font-size: 18px;
	}
	.pg-banner-desc p br{
		display: none!important;
	}
}
@media(max-width: 575px){
	.treatmentSlider .slick-list.draggable {
	    padding-right: 40px!important;
	}
	.trtmnt-grd-desc{
		padding-right: 0;
	}
	.pg-banner-cntlr{
		padding: 50px 0;
	}
	.pg-banner-title{
		font-size: 29px!important;
		margin-bottom: ;
	}
	.pg-banner-desc-cntlr .diamond-module{
	    margin-bottom: 20px;
	}
	.pg-banner-desc {
		margin-bottom: 26px;
	}
	.pg-banner-btn, .banner-btn {
		padding: 0 8px;
	}
	.pg-banner-btn a{
		font-size: 16px!important;
		min-width: 129px;
	}
}
@media(max-width: 374px){
	.start-module{
		padding-bottom: 5px;
	}
	.bnr-recommended{
		bottom: -50px;
	}
}
@media(max-width: 479px){

}