
.banner{
	position: relative;
}
.banner-black-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #000;
}
.banner-bg-cntlr{
	position: relative;
	z-index: 2;
}
.banner-bg-cntlr > div{
	height:  100%;
	width:  100%;
}
.bannerBgSlider .banner-bg-cntlr > div{
	display: none;
}

.bannerBgSlider .banner-bg-cntlr > div:first-child{
	display: block;
}

.bannerBgSlider.slick-initialized .banner-bg-cntlr > div{
	display: block;
}
.banner-bg{
	height:  100%;
	width:  100%;
	height: 550px;
}
.bnr-vdo {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}
#bt-vdo {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 3;  
}
.bnr-prev-next-cntlr{
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}
.bnr-prev-next-cntlr .container,
.bnr-prev-next-cntlr .container .row,
.bnr-prev-next-cntlr .container .row .col-md-12{
	height: 100%;
	width: 100%;
}
.bnr-prev-next{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	position: relative;
	
}
.bnr-prev-next > div{
	position: absolute;
	z-index: 8;
	top: 50%;
	transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.bnr-prev-next > div span svg{
	opacity:  0.6;
}
.bnr-prev-next > div span:hover svg{
	opacity:  1;
}
.bnr-prev{
	left: -40px;
}
.bnr-next{
	right: -40px;
}
.banner-desc-wrap{
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
.banner-desc-wrap .container,
.banner-desc-wrap .container .row,
.banner-desc-wrap .container .row .col-md-12{
	height: 100%;
}
.banner-cntlr{
	position: relative;
	z-index: 7;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	height: 100%;
}
.banner-desc-cntlr{
	text-align: center;
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.banner-title{
	color: #fff;
	text-align: center;
	line-height: 1;
	margin-bottom: 20px;
	font-style: italic;
}
.banner-desc-cntlr .diamond-module{
	margin-bottom: 24px;
}

.banner-desc p{
	font-size: 24px;
	color: #fff;
	line-height: 1.8;
}
.banner-desc p:last-of-type{
	margin-bottom: 0;
}
.banner-desc{
	margin-bottom: 34px;
}
.banner-btns{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -12px;
}
.banner-btn{
	padding: 0 12px;
}
.banner-btn a{
	font-size: 17px!important;
}
.banner-btn .cdc-trnsprnt-btn{
	border-width: 1px;
	color: #fff;
	border-color: #fff;
}
.banner-btn .cdc-trnsprnt-btn:hover{
	border-color: #29467D;
}

.treatment-sec{
	background: #f7f7f7;
	padding-top: 80px;
	padding-bottom: 40px;
}
.treatment-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.treatment-lft{
	width: 22.83%;
	padding-right: 40px;
}
.treatment-title{
	font-size: 32px;
	margin-bottom: 22px;
}
.treatment-desc{
	margin-bottom: 20px;
}
.treatment-desc p{
	font-weight: 300;
}
.treatment-desc p:last-of-type{
	margin-bottom: 0;
}
.treatment-rgt{
	width: 77.17%;
	position: relative;
}
.custom-prev-next-cntlr{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 700px;
	width: 100%;
	justify-content: space-between;
}
.custom-prev-next-cntlr > div{
	cursor: pointer;
}
.treatment-grids{
	margin:  0;
	padding-bottom: 60px;
}
.treatmentSlider .trtmnt-grd-cntlr{
	display: none;
}

.treatmentSlider .trtmnt-grd-cntlr:first-child{
	display: block;
}

.treatmentSlider.slick-initialized .trtmnt-grd-cntlr{
	display: block;
}
.treatmentSlider .slick-list.draggable{
	padding-left: 40px!important;
	padding-right: 180px!important;
}
.trtmnt-grd-cntlr.slick-current.slick-active{
	opacity: 1;
}
.trtmnt-grd-cntlr.slick-current.slick-active + .trtmnt-grd-cntlr{
	opacity: 1;
}
.trtmnt-grd-cntlr{
	padding: 0 12px;
	opacity: 0.4;
}
.trtmnt-grd{

}
.trtmnt-grd-img-cntlr{
	height: 360px;
	margin-bottom: 20px;
}
.trtmnt-grd-img{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.trtmnt-grd-title{
	margin-bottom: 20px;
	color: #333333;
}
.trtmnt-grd-title a{
	display: inline-block;
	color: #333333;
	text-decoration: none;
}
.trtmnt-grd-title a:hover{
	color: #EACC95;
}
.trtmnt-grd-desc{
	padding-bottom: 20px;
	padding-right: 20px;
}
.trtmnt-grd-desc p{

}
.trtmnt-grd-desc p:last-of-type{
	margin-bottom: 0;
}

.intro-sec{
	padding: 140px 0;
}
.intro-cntlr .sec-entry-hdr-cntlr{
	max-width: 929px;
}
.intro-btns{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.intro-btn{
	padding: 0 8px;
}

@media(max-width: 1199px){
	
}