.why-choose-sec{
	padding: 90px 0;
	border-top: 2px solid #A37D36;
	border-bottom: 2px solid #A37D36;
	background: linear-gradient(0deg, #0C2543, #0C2543)
}
.why-choose-sec .sec-entry-hdr p,
.why-choose-sec .sec-entry-hdr-title{
	color: #fff;
}
.why-choose-sec .sec-entry-hdr-cntlr{
	padding-bottom: 70px;
}
.why-choose-grids {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.why-choose-grid-col {
    width: 25%;
    padding: 0 10px;
    padding-bottom: 15px;
}
.why-choose-grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 35px;
}
.why-choose-grid-img i {
    display: inline-block;
    height: 80px;
}
.why-choose-grid-img i img{
	max-height: 80px;
	width: auto;
}
.why-choose-grid-des {
	padding: 0 10px 15px;
    text-align: center;
}
.why-choose-grid-title {
    color: #fff;
    font-weight: 600;
    line-height: 1.24;
    margin-bottom: 16px;
}
.why-choose-grid-des p {
    color: #fff;
}
.why-choose-grid-des p:last-of-type{
	margin-bottom: 0;
}
.why-choose-grid-btn{
	text-align: center;
	padding-top: 50px;
}
.why-choose-grid-btn .cdc-btn{
	box-shadow: 0px 0px 6px rgba(2, 13, 28, 0.8);
	padding: 14.5px 10px;
	min-width: 190px;
}
.review-sec{
	padding: 80px 0;
}
.review-grids {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.review-grid-col {
    width: 50%;
    padding: 0 10px;
    padding-bottom: 28px;
}
.review-grids-cntlr {
    padding: 0;
}
.review-grid-item{
	border: 1px solid #DDDDDD;
	background: #F7F7F7;
	text-align: center;
    padding: 0 20px;
    padding-bottom: 60px;
    margin-top: 55px;
}
.review-pro-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -55px;
    text-align: center;
    margin-bottom: 25px;
    z-index: 1;
}
.review-pro-img i {
    display: inline-block;
    height: 110px;
    width: 110px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    overflow: hidden;
}
.review-pro-img i img {
    height: 110px;
    width: 110px;
    border-radius: 100%;
}
.review-pro-rating span i{
	display: inline-block;
	line-height: 1;
	padding: 0 4px;
}
.review-pro-rating{
	display: inline-block;
	margin-bottom: 30px;
}
.review-tstmnl-mgs{
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 28px;
	color: #333333;
}
.review-pro-des {
    margin-bottom: 16px;
    overflow: hidden;
    height: 148px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
/*.review-pro-des p #more_text{
	display: none;
}*/
/*.viewAllText p #more_text {
    display: inline;
    transition: all 0.5s;
}*/

.viewAllText p #dots {
    display: none;
}
.viewAllText + .review-pro-des-btn #rdmore_bnt,
.review-pro-des-btn #rdless_bnt{
	display: none;
}
.viewAllText + .review-pro-des-btn #rdless_bnt{
	display: inline-block;
}
.review-pro-des p{
	font-size: 20px;
	line-height: 1.5;
}
.review-pro-des p:last-of-type{
	margin-bottom: 0;
}
.review-pro-des-btn{
	text-align: center;
	line-height: 1;
	margin-bottom: 28px;
}
.review-pro-des-btn button, 
.review-pro-des-btn a {
    line-height: 1.25;
    font-weight: 600;
    color: #29467D;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 1px dashed #29467D;
    background: none;
    text-transform: capitalize;
    padding: 0;
}
.review-pro-des-btn a:hover,
.review-pro-des-btn button:hover{
	color: #A37D36;
	border-color: #A37D36;
}
.review-pro-name strong {
	color: #A37D36;
	font-size: 20px;
	font-weight: 400;
	display: block;
	line-height: 1.4;
	text-transform: capitalize;
}
.review-pro-name span{
	color: #333333;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 1.1;
}
.review-grid-btns ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.review-grid-btns {
    padding-top: 40px;
}
.review-grid-btns ul li{
	padding: 0 8px;
}
.reviewSlider .review-grid-col{
	display: none;
}
.reviewSlider .review-grid-col:first-child{
	display: block;
}
.reviewSlider.slick-initialized .review-grid-col{
	display: block;
}
.review-grids-cntlr {
    position: relative;
}
.revw-next,
.revw-prev{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	cursor: pointer;
}
.revw-next:hover span svg,
.revw-prev:hover span svg{
	fill: #A37D36;
}
.revw-prev{
	left: -35px;
}
.revw-next{
	right: -35px;
}
.cta-module-wrp {
    padding: 35px;
}
.cta-module {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 30px 60px 40px;
    border: 1px solid #EACC95;
}
.cta-module-des-ctlr {
    width: 73%;
}
.cta-btn-ctlr {
    width: 27%;
    display: flex;
}
.cta-btn {
    margin-left: auto;
    margin-top: auto;
}
.cta-module-des-title{
	color: #fff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 6px #03172E;
	font-weight: 600;
}
.cta-module-des-title strong{
	font-style: italic;
	font-weight: 700;
}
.cta-module-des-ctlr .diamond-module{
	margin-bottom: 25px;
}
.cta-module-des p{
	font-size: 19px;
	line-height: 1.5;
	color: #fff;
}
.cta-module-des p:last-of-type{
	margin-bottom: 0;
}
.cta-btn a{
	min-width: 190px;
}


/*modal*/
.cox-profile-modal .modal{
	background: rgba(4, 20, 38, 0.95);
}
.cox-profile-modal .modal.show .modal-dialog{
	max-width: 960px;
	width: 100%;
	margin-top: 100px;	
}
.cox-profile-modal .modal-body{
	padding: 40px;
	padding-top: 0;
}
.cox-profile-modal .modal-content {
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 0px 35px 8px rgb(0 0 0 / 40%);
}
.cox-profile-modal .modal-header button{
	margin-left: auto;
	background: transparent;
	padding: 0;
	line-height: 1;
}
.cox-profile-modal .modal-header button:hover i svg{
	fill: #A37D36;
}
.cox-profile-modal .modal-header{
	border: none;
	padding: 32px 30px 24px;
}
.pro-modal-con-cntlr {
    display: flex;
    flex-wrap: wrap;
}
.pro-modal-con-lft {
    width: 34%;
}
.pro-modal-con-rgt {
    width: 66%;
    padding-left: 20px;
}
.pro-modal-img-cntlr {
	border: 8px solid #FFFFFF;
    margin-left: -109px;
}
.pro-modal-img-cntlr img{
	width: 100%;
	height: auto;
}
.pro-modal-title{
	color: #333333;
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.pro-modal-assist-name{
	font-size: 26px;
	font-weight: 400;
	line-height: 1.25;
	color: #11345E;
	margin-bottom: 10px;
}
.pro-modal-assist-name span{
	font-size: 17px;
	font-weight: 600;
	line-height: 1.25;
	color: #29467D;
	margin-left: 8px;
	font-family: 'SourceSansPro';
	border-bottom: 1px dashed #29467D;
}
.pro-modal-addr span{
	color: #A37D36;
	display: inline-block;
	vertical-align: baseline;
}
.pro-modal-addr{
	margin-bottom: 20px;
}
.pro-modal-des p:not(:last-of-type){
	margin-bottom: 30px;
}