.tl-team-sec{
	padding-top: 80px;
	padding-bottom: 14px;
}
.tl-team-sec .profile-module ul{
	justify-content: center;
	margin-top: 14px;
}
.tl-review-sec{
	padding-top: 80px;
	padding-bottom: 40px;
}
.practice-gallery.tl-practice-gallery{
	background: linear-gradient(90deg, #F7F7F7 0%, #FFFFFF 50%, #F7F7F7 100%);
	padding-top: 70px!important;
	padding-top: 60px!important;
}
.tl-faq-sec{
	padding-top: 66px;
	padding-bottom: 66px;
}
.abtis-row-text-inr .locations-des{
	padding-top: 15px;
}
.tlPatientReviewSlider .review-grid-col{
	display: none;
}
.tlPatientReviewSlider .review-grid-col:first-child{
	display: block;
}
.tlPatientReviewSlider.slick-initialized .review-grid-col{
	display: block;
}
.practice-gallery .sec-entry-hdr-cntlr {
    padding-bottom: 12px;
}
@media(max-width: 991px){
	.lt-page-con-cntlr .abtis-img-text-row-inr {
		align-items: center;
	}
}