.tl-team-sec{
	padding-top: 80px;
	padding-bottom: 75px;
}
.tl-team-sec .profile-module ul{
	justify-content: center;
	margin-top: 14px;
}
.tl-review-sec{
	padding-top: 80px;
	padding-bottom: 40px;
}
.practice-gallery.tl-practice-gallery{
	background: linear-gradient(90deg, #F7F7F7 0%, #FFFFFF 50%, #F7F7F7 100%);	
	padding-top: 60px!important;
}
.tl-faq-sec{
	padding-top: 66px;
	padding-bottom: 66px;
}
.abtis-row-text-inr .locations-des{
	padding-top: 15px;
}
.tlPatientReviewSlider .review-grid-col{
	display: none;
}
.tlPatientReviewSlider .review-grid-col:first-child{
	display: block;
}
.tlPatientReviewSlider.slick-initialized .review-grid-col{
	display: block;
}
.practice-gallery .sec-entry-hdr-cntlr {
    padding-bottom: 12px;
}
.lt-page-con-cntlr .tl-team-sec .pm-grd-desc {
    display: block;
}
.lt-page-con-cntlr .tl-team-sec .pm-grd-desc p:last-of-type,
.lt-page-con-cntlr .tl-team-sec .pm-grd-addr{
	margin-bottom: 20px;
}
.lt-page-con-cntlr .tl-team-sec .team-grds{
	margin-bottom: 0!important;
	padding-bottom: 0;
}
.xs-team-prev-next{
	display: none;
}



@media (max-width: 1299px){
	.team-prev-next {
		display: none;
	}
}
@media (max-width: 1199px){
	.tl-team-sec{
		padding-top: 65px;
		padding-bottom: 60px;
	}	
	.lt-page-con-cntlr .practice-gallery-grid-btn{
		padding-top: 40px;
	}
}
@media(max-width: 991px){
	.lt-page-con-cntlr .abtis-img-text-row-inr {
		align-items: center;
	}
	.tl-team-sec{
		padding-top: 45px;
	}
	.lt-page-con-cntlr .practice-gallery-grid-btn{
		padding-top: 30px;
	}
	.tl-faq-sec {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
@media(max-width: 767px){
	.tl-team-sec {
		padding-top: 32px;
		padding-bottom: 80px;
	}
	.tl-team-sec .revw-next, 
	.tl-team-sec .revw-prev{
		position: static;
	}
	.xs-team-prev-next{
		display: flex!important;
		align-items: center;
		justify-content: space-between;
		margin-top: -50px;
	}
	.tl-team-sec .profile-module ul{
		margin-top: 0;
	}
	.about-intro-sec .about-intro-sec .office-social {
		margin-bottom: 0;
	}
	.lt-page-con-cntlr .tl-team-sec .profile-module,
	.treatment-page-con-cntlr .tl-team-sec .profile-module {
		max-width: 360px;
	}
	.practice-gallery.tl-practice-gallery{
		padding: 60px 0 60px!important;
	}
	.lt-page-con-cntlr .practice-gallery-grids .practice-gallery-grid-col{
		margin-bottom: 24px;
	}	
}
@media(max-width: 575px){
	.practice-gallery.tl-practice-gallery {
		padding: 50px 0 50px!important;
	}
}