.patient-page-con-cntlr .cta-section{
	padding-bottom: 70px;
}
.patient-page-con-cntlr .faq-sec{
	padding-top: 70px;
	padding-bottom: 90px;
}
.patients-intro-sec {
	padding: 70px 0 70px;
}
.patients-intro-sec .abtis-lft-img-row .abtis-row-text{
	padding-left: 40px;
}
.abtis-intro-des-btn {
    display: inline-block;
    padding-right: 16px;
}
.patients-intro-sec .abtis-row-text-inr p:not(:last-of-type){
	margin-bottom: 20px;
}
.double-image-module .abtis-lft-img-row .abtis-row-img-inner{
	margin-left: -60px;
	margin-right: 0;
}
.abtis-lft-img-row .abtis-row-img-inner{
	margin-left: -40px;
	margin-right: 0;
}
.has-inline-bg.double-image-module .abtis-lft-img-row .abtis-row-img-inner{
	padding-left: 0;
	padding-right: 90px;
}
.abtis-lft-img-row .abtis-row-sub-img-cntlr{
	left: initial;
	right: 8px;
}


@media(min-width: 1600px){
	.double-image-module .abtis-lft-img-row .abtis-row-img-inner{
		margin-left: -160px;
	}
	.has-inline-bg.double-image-module .abtis-lft-img-row .abtis-row-img-inner{
		padding-left: 0;
		padding-right: 105px;
	}
}
@media(max-width: 1199px){
	.has-inline-bg.double-image-module .abtis-lft-img-row .abtis-row-img-inner {
		padding-right: 70px;
	}
}
@media(max-width: 991px){
	.has-inline-bg.double-image-module .abtis-lft-img-row .abtis-row-img-inner {
		padding-right: 60px;
	}
}
@media(max-width: 767px){
	.has-inline-bg.double-image-module .abtis-lft-img-row .abtis-row-img-inner {
		padding-right: 42px;
	}
	.abtis-lft-img-row .abtis-row-sub-img-cntlr{
		right: 0;
	}
}
@media(max-width: 575px){
	
}
@media(max-width: 479px){
	
}