.why-choose-grids{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.practice-gallery{
    padding: 70px 0 60px!important;
    margin-top: 40px;
}
.lt-page-con-cntlr .practice-gallery{
    margin-top: 0;
}
.pratice-pg-con-cntlr .why-choose-sec .sec-entry-hdr-cntlr {
    padding-bottom: 50px;
}
.pratice-pg-con-cntlr .why-choose-grid-btn{
    padding-top: 30px;
}
.pratice-pg-con-cntlr .locations-sec  .sec-entry-hdr-cntlr{
    max-width: 890px;
}
/*.pratice-pg-con-cntlr .locations-sec .sec-entry-hdr p{
    font-size: 15px;
}*/
.why-choose-grids .practice-gallery-grid-col{
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.practice-gallery-grid-img-cntlr{
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 16px 4px rgba(12, 37, 67, 0.45);
    border-bottom: 2px solid #A37D36;
}
.practice-gallery-grid-img-cntlr:hover .practice-gallery-grid-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
    height: 275px;
    width: 100%;
        transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.practice-gallery-grid-item {
    
}
.practice-gallery-grid-des{
    text-align: center;
}
.practice-gallery-grid-title,
.practice-gallery-grid-title a {
    color: #fff;
    font-weight: 600;
    line-height: 1.28;
    text-decoration: none;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
}
.practice-gallery-grid-title a:hover{
    color: #EACC95;
}
.practice-gallery-grid-title{
    padding-left: 25px;
}
.practice-gallery-grid-title:after{
    content: "";
    position: absolute;
    left: 0;
    background: url(../images/gallery-title-icon.svg);
    width: 17px;
    height: 17px;
    top: 5px;
}
.practice-faq-sec{
    background: #F7F7F7;
    padding-top: 80px;
    padding-bottom: 100px;
}
.practice-faq-sec .active .faq-accordion-hdr,
.practice-faq-sec .faq-accordion-hdr:hover{
    background: #11345E;
}
.practice-faq-sec .faq-accordion-des,
.practice-faq-sec .faq-accordion-hdr{
    background: #fff;
}
.expert-treatment-sec{
    padding-top: 60px;

}
.expert-treatment-sec .sec-entry-hdr-cntlr{
    max-width: 800px;
    padding-bottom: 20px;
}

.expert-treatment-grds{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.ex-trmnt-grd-item-col{
    width: 33.3333%;
    padding: 0 12px 10px;
}
.ex-trmnt-grd-item-img-cntlr{
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 4px solid #A37D36;
}
.ex-trmnt-grd-item-img-cntlr:after{
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 4px solid #A37D36;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.ex-trmnt-grd-item-img{
    width: 100%;
    height: 100%;
}
.ex-trmnt-grd-item-des{
    padding-top: 15px;
}
.ex-trmnt-grd-des-title{
    margin-bottom: 10px;
}
.ex-trmnt-grd-des-title a{
    color: #333333;
    text-decoration: none;
}
.ex-trmnt-grd-des-title a:hover{
    color: #A37D36;
}
.ex-trmnt-grd-item:hover .ex-trmnt-grd-item-img-cntlr:after{
    opacity: 1;
    visibility: visible;
}



.pratice-pg-con-cntlr .locations-sec{
    padding-top: 120px;
}
.pratice-pg-con-cntlr .locations-sec .sec-entry-hdr-cntlr,
.pratice-pg-con-cntlr .faq-sec .sec-entry-hdr-cntlr{
    padding-bottom: 40px;
}
.pratice-pg-con-cntlr .wco-team-sec{
    padding-top: 100px;
}
.pratice-pg-con-cntlr .pm-grd-addr{
    margin-bottom: 24px;
}
.pratice-pg-con-cntlr .pm-grd-btn a{
    padding: 0;
    text-decoration: none;
    border-bottom: 1px dotted #29467D;
    font-weight: 600;
}
.pratice-pg-con-cntlr .pm-grd-btn a:hover{
    border-bottom-color: #EACC95;
    letter-spacing: 1px;
}