.practice-gallery-grids{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.practice-gallery{
    padding: 70px 0 60px!important;
    margin-top: 40px;
}
.lt-page-con-cntlr .practice-gallery{
    margin-top: 0;
}
.pratice-pg-con-cntlr .practice-gallery .sec-entry-hdr-cntlr {
    padding-bottom: 50px;
}
.pratice-pg-con-cntlr .practice-gallery-grid-btn{
    padding-top: 30px;
}
.pratice-pg-con-cntlr .locations-sec  .sec-entry-hdr-cntlr{
    max-width: 890px;
}
/*.pratice-pg-con-cntlr .locations-sec .sec-entry-hdr p{
    font-size: 15px;
}*/
.practice-gallery-grids .practice-gallery-grid-col{
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.practice-gallery-grid-img-cntlr{
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 16px 4px rgba(12, 37, 67, 0.45);
    border-bottom: 2px solid #A37D36;
}
.practice-gallery-grid-img-cntlr:hover .practice-gallery-grid-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
    height: 275px;
    width: 100%;
        transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.practice-gallery-grid-item {
    
}
.practice-gallery-grid-des{
    text-align: center;
}
.practice-gallery-grid-title,
.practice-gallery-grid-title a {
    color: #fff;
    font-weight: 600;
    line-height: 1.28;
    text-decoration: none;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
}
.practice-gallery-grid-title a:hover{
    color: #EACC95;
}
.practice-gallery-grid-title{
    padding-left: 25px;
}
.practice-gallery-grid-title:after{
    content: "";
    position: absolute;
    left: 0;
    background: url(../images/gallery-title-icon.svg);
    width: 17px;
    height: 17px;
    top: 5px;
}
.practice-faq-sec{
    background: #F7F7F7;
    padding-top: 80px;
    padding-bottom: 90px;
}
.practice-faq-sec .active .faq-accordion-hdr,
.practice-faq-sec .faq-accordion-hdr:hover{
    background: #11345E;
}
.practice-faq-sec .faq-accordion-des,
.practice-faq-sec .faq-accordion-hdr{
    background: #fff;
}
.expert-treatment-sec{
    padding-top: 60px;

}
.expert-treatment-sec .sec-entry-hdr-cntlr{
    max-width: 800px;
    padding-bottom: 20px;
}

.expert-treatment-grds{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.ex-trmnt-grd-item-col{
    width: 33.3333%;
    padding: 0 12px 12px;
}
.ex-trmnt-grd-item-img-cntlr{
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 4px solid #A37D36;
}
.ex-trmnt-grd-item-img-cntlr:after{
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 4px solid #A37D36;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.ex-trmnt-grd-item-img{
    width: 100%;
    height: 100%;
}
.ex-trmnt-grd-item-des{
    padding-top: 15px;
}
.ex-trmnt-grd-des-title{
    margin-bottom: 10px;
    line-height: 1.2;
}
.ex-trmnt-grd-des-title a{
    color: #333333;
    text-decoration: none;
}
.ex-trmnt-grd-des-title a:hover{
    color: #A37D36;
}
.ex-trmnt-grd-item:hover .ex-trmnt-grd-item-img-cntlr:after{
    opacity: 1;
    visibility: visible;
}



.pratice-pg-con-cntlr .locations-sec{
    padding-top: 120px;
    padding-bottom: 80px;
}
.pratice-pg-con-cntlr .locations-sec .sec-entry-hdr-cntlr,
.pratice-pg-con-cntlr .faq-sec .sec-entry-hdr-cntlr{
    padding-bottom: 40px;
}
.pratice-pg-con-cntlr .wco-team-sec{
    padding-top: 90px;
}
.pratice-pg-con-cntlr .pm-grd-addr{
    margin-bottom: 24px;
}
.pratice-pg-con-cntlr .pm-grd-btn a{
    padding: 0;
    text-decoration: none;
    border-bottom: 1px dotted #29467D;
    font-weight: 600;
}
.pratice-pg-con-cntlr .pm-grd-btn a:hover{
    border-bottom-color: #EACC95;
    letter-spacing: 1px;
}
.practice-gallery-grid-btn .cdc-btn {    
    font-size: 17px;
}
.pratice-pg-con-cntlr .review-sec{
    padding-top: 0;
}
.pratice-pg-con-cntlr .team-grd-item-col{
    padding-bottom: 30px;
}
.pratice-pg-con-cntlr .wco-team-sec .team-grds{
    margin-bottom: 50px;
}

@media(max-width: 1199px){
    .practice-gallery-grid-img-cntlr .practice-gallery-grid-img{
        height: 230px;
    }
    .practice-gallery-grid-title{
        font-size: 17px!important;
    }
    .practice-gallery-grid-title:after{
        width: 14px;
        height: 14px;
        top: 3px;
        background-size: cover;
    }
    .practice-gallery-grid-title {
        padding-left: 20px;
    }
    .expert-treatment-sec {
        padding-top: 50px;
    }
    .expert-treatment-grds {
        margin-left: -10px;
        margin-right: -10px;
    }
    .ex-trmnt-grd-item-col{
        padding: 0 10px 12px;
    }
    .ex-trmnt-grd-item-img-cntlr{
        height: 320px;
    }
    .pratice-pg-con-cntlr .locations-sec {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .pratice-pg-con-cntlr .wco-team-sec{
        padding-top: 80px;
    }
    .practice-faq-sec{
        padding-top: 60px;
        padding-bottom: 70px;
    }
}
@media(max-width: 991px){
    .practice-gallery-grids .practice-gallery-grid-col{
        width: 33.333%;
    }
    .practice-gallery-grid-title {
        font-size: 18px!important;
    }
    .practice-gallery-grid-title:after{
        top: 6px; 
    }
    .ex-trmnt-grd-item-col {
        width: 50%;        
    }
    .ex-trmnt-grd-item-img-cntlr {
        height: 350px;
    }
    .pratice-pg-con-cntlr .locations-sec {
        padding-top: 80px;
    }
    .pratice-pg-con-cntlr .wco-team-sec{
        padding-top: 60px;
    }
    .practice-faq-sec{
        padding-top: 60px;
        padding-bottom: 70px;
    }
}
@media(max-width: 767px){
    .practice-gallery-grids .practice-gallery-grid-col{
        width: 50%;
        margin-bottom: 16px;
    }
    .practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
        height: 275px;
    }
    .practice-gallery-grid-title {
        font-size: 21px!important;
    }
    .practice-gallery-grid-title:after {
        width: 12px;
        height: 12px;
        top: 7px;        
    }
    .ex-trmnt-grd-item-img-cntlr {
        height: 300px;
    }
    .abtis-intro-des-btn{
        padding-top: 16px;
    }
    .practice-gallery{
        padding: 60px 0 60px!important;
        margin-top: 30px;
    }
    .practice-gallery-grid-img-cntlr a.overlay-link:after{
        position: absolute;
        content: '';
        right: 14px;
        bottom: 14px;
        height: 30px;
        width: 30px;
        background-image: url(../images/gallery-zoom-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .pratice-pg-con-cntlr .locations-sec {
        padding-top: 60px;
        padding-bottom: 55px;
    }
    .pratice-pg-con-cntlr .team-grd-item-col{
        padding-bottom: 20px;
    }
    .pratice-pg-con-cntlr .wco-team-sec .team-grds{
        margin-bottom: 30px;
    }
    .practice-faq-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media(max-width: 575px){
    .practice-gallery-grids{
        margin: 0;
    }
    .practice-gallery-grids .practice-gallery-grid-col{
        padding: 0;
        width: 100%;        
    }
    .ex-trmnt-grd-item-img-cntlr,
    .practice-gallery-grid-img-cntlr .practice-gallery-grid-img {
        height: 328px;
    }
    .expert-treatment-grds {
        margin-left: 0;
        margin-right: 0;
    }
    .ex-trmnt-grd-item-col {
        width: 100%;        
        padding-left: 0;
        padding-right: 0;
    }
    .practice-gallery{
        padding: 50px 0 50px!important;
        margin-top: 20px;
    }
    .pratice-pg-con-cntlr .practice-gallery-grid-btn {
        padding-top: 20px;
    }
}
@media(max-width: 479px){
    
}