.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: auto!important;
	height: auto!important;
	position: static;
	margin: 0 4px 5px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li button:hover{
	background: #29467D!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 18px;
	height: 18px;
	border-radius: 100% 100%!important;
	background: transparent!important;
	border: 1px solid #29467D!important;
}
.slick-prev, 
.slick-next{
	width: 11px;
	height: 34px;
}
.slick-slider .slick-prev:before, 
.slick-slider .slick-next:before{
	content: ""!important;
	position: absolute;
	opacity: 1!important;
	background-image: url(../images/left-arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 11px;
	height: 34px;
	top: 0;
	left: 0;
}
.slick-slider .slick-next:before{
	background-image: url(../images/right-arrow.svg);
	right: 0;
}
.slick-slider .slick-prev:hover:before{
	background-image: url(../images/left-arrow2.svg);
}
.slick-slider .slick-next:hover:before{
	background-image: url(../images/right-arrow2.svg);
}
.slick-dots li:only-child{ 
	display: none; 
}

.sec-entry-hdr-cntlr{
	max-width: 620px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
}
.sec-entry-hdr{
	text-align: center;
	position: relative;
}
.sec-entry-hdr-title{
	line-height: 1.25;
	margin-bottom: 20px;
	position: relative;
}
.diamond-module{
	display: inline-block;
	margin-bottom: 20px;
}
.diamond-module ul{
	display: flex;
	align-items: center;
	justify-content: center;	
}
.diamond-module ul li{
	line-height: 1;
}
.sec-entry-hdr p {
	font-weight: 300;
	line-height: 1.5;
	font-size: 20px;
}
.sec-entry-hdr p:last-of-type{
	margin-bottom: 0;
}

.sitemap-section{
    padding: 80px 0 80px;
}
.sitemap ol{
    font-weight: 700;
}
.sitemap ol li{
    padding-top: 0;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}
.sitemap ol li::marker {
	color: #29467D;
	font-weight: 700;
}
.sitemap ol li a {
    display: inline-block;
    transition: .5s;
    text-transform: capitalize;
    text-decoration: none;
    color: #29467D;
}
.sitemap ol li a:hover{
    color: #EACC95;
}
.sitemap ol li a:focus{
    color: #EACC95;
    text-decoration: underline;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	padding-left: 20px;
}
ul li {
	padding: 0px 0 10px 6px;
	position: relative;
	line-height: 1.5;
}
ul li:before{
	position: absolute;
	content: '';
	top: 10px;
	left: -10px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: #707070;
}
ol{
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	padding-left: 20px;
}
ol li{
	padding: 0px 0 10px 6px;
	position: relative;
	line-height: 1.8;
}





/*select */


body .select2-container.select2-container--default.select2-container--open .select2-dropdown{
    box-shadow: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    border-radius: 0!important;
    overflow: hidden;
}
body .select2-dropdown {
    margin: 0;
    border: none!important;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 10px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 84px rgb(44 17 62 / 9%);
    border-radius: 0px;
}
.select2-container--default .select2-search--dropdown .select2-search__field, 
.bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #ECF1F4!important;
    height: 36px!important;
    padding: 4px 15px;
}
ul.select2-results__options li {
    padding: 13px 10px 13px!important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FFA800!important;
    color: #403C40!important;
}
.select-2-sortby{
    position: relative;
}
.select2-container--default .select2-selection--single{
    background: transparent!important;
    border: none!important;
    height: 50px!important;
    position: relative!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 48px;
    background: #fff;
    box-sizing: border-box;
    padding: 13.5px 20px 14.5px 20px;
    border: 1px solid #ddd!important;
    color: #857e7e;
    line-height: 1.6;
    background: #F7F7F7!important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.select2-selection__arrow:after {
    content: "";
    background: url('../images/selact-arrow.svg');
    background-repeat: no-repeat!important;
    background-size: 100% auto;
    width: 12px;
    height: 7px;
    position: absolute;
    right: 0;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: 0px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.select2-container--open .select2-selection__arrow:after{
    content:"";
    transform: translateY(-50%) rotate(180deg) ;
    -ms-transform: translateY(-50%) rotate(180deg) ;
    -webkit-transform: translateY(-50%) rotate(180deg) ;
}
.select2-container--default .select2-search--dropdown{
    padding: 0!important;
}
.select2-container--default .select2-search--dropdown .select2-search__field, 
.bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #cecece!important;
    height: 50px!important;
    padding: 4px 15px 4px 8px;
    font-size:  14px;
    display: none!important;
}
ul.select2-results__options li {
    padding: 8px 15px!important;
    background: transparent!important;
    color: #1F1F1F!important;
    font-weight: 400;
    line-height: 1.18;
}
.select2-container--default .select2-results__option.select2-results__option--selectable.select2-results__option--selected{
    background: #fff!important;
    color: #FF9B4C!important;
}
.select2-container--open .select2-dropdown{
    top: 100%;
    padding-bottom: 0;
}
.select2-container--open .select2-dropdown.select2-dropdown--above{
    top: 30px;
    margin-top: 0!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: transparent!important;
    color: #FF9B4C!important;
}
select.select-2-cntlr.select2-hidden-accessible.xontact-custom-select {
    width: 100%!important;
}
.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted:before{
    content: none;
}
.select2-results__options .select2-results__option--disabled{
    color: #403C40;
}
.contact-form-wrp .wpforms-container-full{
    margin-bottom: 0;
}
.select2-container--open .selection .select2-selection--single .select2-selection__rendered{
    border-color: #fff!important;
}
.select2-container .select2-dropdown .select2-results ul.select2-results__options li:before{
    content: none!important;
    display: none!important;
}
span.select2.select2-container.select2-container--default {
    width: 100%!important;
}
.contact-select-down-icon {
    position: relative;
}
.select2-container--open .selection .select2-selection--single .select2-selection__rendered{
    border-color: #999!important;    ;
}
.select2-container {
    height: 50px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px!important;
}
.select2-container--default .select2-results>.select2-results__options{

}
.select2-results{
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar{
    width: 4px;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb{
    background: #9B9B9B;
    border-radius: 6px;
}