.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: auto!important;
	height: auto!important;
	position: static;
	margin: 0 4px 5px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li button:hover{
	background: #29467D!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 18px;
	height: 18px;
	border-radius: 100% 100%!important;
	background: transparent!important;
	border: 1px solid #29467D!important;
}
.slick-prev, 
.slick-next{
	width: 11px;
	height: 34px;
}
.slick-slider .slick-prev:before, 
.slick-slider .slick-next:before{
	content: ""!important;
	position: absolute;
	opacity: 1!important;
	background-image: url(../images/left-arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 11px;
	height: 34px;
	top: 0;
	left: 0;
}
.slick-slider .slick-next:before{
	background-image: url(../images/right-arrow.svg);
	right: 0;
}
.slick-slider .slick-prev:hover:before{
	background-image: url(../images/left-arrow2.svg);
}
.slick-slider .slick-next:hover:before{
	background-image: url(../images/right-arrow2.svg);
}
.slick-dots li:only-child{ 
	display: none; 
}

.sec-entry-hdr-cntlr{
	max-width: 620px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
}
.sec-entry-hdr{
	text-align: center;
	position: relative;
}
.sec-entry-hdr-title{
	line-height: 1.25;
	margin-bottom: 20px;
	position: relative;
}
.diamond-module{
	display: inline-block;
	margin-bottom: 20px;
}
.diamond-module ul{
	display: flex;
	align-items: center;
	justify-content: center;	
}
.diamond-module ul li{
	line-height: 1;
}
.sec-entry-hdr p {
	font-weight: 300;
	line-height: 1.5;
	font-size: 20px;
}
.sec-entry-hdr p:last-of-type{
	margin-bottom: 0;
}

.sitemap-section{
    padding: 80px 0 80px;
}
.sitemap ol{
    font-weight: 700;
}
.sitemap ol li{
    padding-top: 0;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}
.sitemap ol li::marker {
	color: #29467D;
	font-weight: 700;
}
.sitemap ol li a {
    display: inline-block;
    transition: .5s;
    text-transform: capitalize;
    text-decoration: none;
    color: #29467D;
}
.sitemap ol li a:hover{
    color: #EACC95;
}
.sitemap ol li a:focus{
    color: #EACC95;
    text-decoration: underline;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	padding-left: 20px;
}
ul li {
	padding: 0px 0 10px 6px;
	position: relative;
	line-height: 1.5;
}
ul li:after{
	position: absolute;
	content: '';
	top: 10px;
	left: -10px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: #707070;
}
ol{
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	padding-left: 20px;
}
ol li{
	padding: 0px 0 10px 6px;
	position: relative;
	line-height: 1.8;
}