.referral-sec{
	padding-top: 60px;
    padding-bottom: 120px;
}
.referral-sec .sec-entry-hdr-cntlr{
    padding-bottom: 8px;
}

.referral-about-intro .faq-accordion-hdr{
    background: transparent!important;
    border: none!important;
    display: inline-block;
    padding: 18px 35px 20px 0px;
}
.about-intro-sec .faq-cntlr .faq-accordion-hdr{
    padding: 10px 35px 12px 0px;
}
.about-intro-sec .faq-cntlr .faq-accordion-des{
    margin-bottom: 26px;
}
.referral-about-intro .active .faq-accordion-hdr,
.referral-about-intro .box-shadow{
    box-shadow: none!important;
}
.faq-accordion-menu.topactiove .faq-accordion-des{
    display: block;
}
.referral-about-intro .faq-accordion-title{
    color: #11345E!important;
    font-weight: 600;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*.referral-about-intro .faq-accordion-hdr .faq-accordion-title:hover {
    color: #EACC95!important;
}*/
.referral-about-intro .faq-accordion-icon-box{
    width: initial;
    height: initial;
    border: 0;
}
.referral-about-intro .faq-accordion-des{
    border: none!important;
    background: #F7F7F7;
    padding: 24px;
}
.referral-about-intro .active .faq-accordion-title,
.referral-about-intro .faq-accordion-hdr:hover .faq-accordion-title{
    color: #0a2648;
}
.referral-about-intro .active .faq-accordion-hdr:after{
    display: none;
}
.referral-about-intro .faq-accordion-hdr:hover .faq-accordion-icon-box:after{
    background-image: url(../images/faq-list-icon.svg);
    background-size: contain!important;
}
.referral-about-intro .active .faq-accordion-icon-box:before{
    background-image: url(../images/faq-list-icon-blue-active.svg)!important;
    background-size: contain!important;
    margin-top: 0px!important;
}
.referral-page-con-cntlr .tl-review-sec .sec-entry-hdr-cntlr{
    padding-bottom: 4px;
}
.treatment-page-con-cntlr .tl-review-sec, 
.referral-page-con-cntlr .tl-review-sec {
    padding-bottom: 120px;
}
.tlPatientReviewSlider2{
    margin-bottom: 0!important;
}
.tlPatientReviewSlider2 .review-grid-col{
    width: 100%;
}
.testimonials-pg-content-cntlr .review-grid-item,
.referral-page-con-cntlr .tl-review-sec .review-grid-item{
    padding-left: 40px;
    padding-right: 40px;
}
/*.testimonials-pg-content-cntlr .review-pro-des,
.tlPatientReviewSlider2 .review-pro-des{
    height: 90px;
}*/
.tlPatientReviewSlider2 .review-grid-col{
    display: none;
    position: relative;
}
.tlPatientReviewSlider2 .review-grid-col:first-child{
    display: block;
}
.tlPatientReviewSlider2.slick-initialized .review-grid-col{
    display: block;
}
.referral-page-con-cntlr .review-color .slick-slider .slick-dots li.slick-active button, 
.referral-page-con-cntlr .review-color .slick-slider .slick-dots li button:hover,
.lt-page-con-cntlr .review-color .slick-slider .slick-dots li.slick-active button, 
.lt-page-con-cntlr .review-color .slick-slider .slick-dots li button:hover,
.treatment-page-con-cntlr .review-color .slick-slider .slick-dots li.slick-active button, 
.treatment-page-con-cntlr .review-color .slick-slider .slick-dots li button:hover{
    background: #C5CBE5!important;
}
.referral-page-con-cntlr .review-color .slick-slider .slick-dots li button,
.lt-page-con-cntlr .review-color .slick-slider .slick-dots li button,
.referral-page-con-cntlr .review-color .slick-slider .slick-dots li button,
.treatment-page-con-cntlr .review-color .slick-slider .slick-dots li button {
    border: 1px solid #C5CBE5!important;
}
.contact-form-wrp{
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.contact-form-sec-wrp{
    padding-top: 60px;
    padding-bottom: 110px;
    position: relative;
}
.treatment-sec-cntlr{
    background: #061E39;
    padding: 40px 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
    width: 50%;
    padding: 0 12px;
    margin-bottom: 24px;
    position: relative;
    line-height: 1;
} 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .referrign-form-title {
    font-weight: 400;
    color: #333333;
    line-height: 1.28;
    margin-bottom: 8px;
    margin-top: 8px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField {
    width: 100%;
}
 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.field-75 {
    width: 75%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.field-25 {
    width: 25%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField textarea{
    height: 144px!important;
    display: block;
    resize: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-checkbox,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea{
    width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input[type="text"],
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input[type="email"]
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input[type="number"]
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input[type="password"]{
    width: 100%;
    max-width: 100%;
    height: 54px;
    background: #F7F7F7;
    border: 1px solid #DDDDDD!important;
    box-sizing: border-box;
    padding: 16px 8px 16px 8px;
    color: #333333;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 0!important;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-container .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 54px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus {
    border: 1px solid #A37D36!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
    font-size: 17px;
    line-height: 1.27;
    margin-bottom: 15px;
    color: #11345E;
    font-weight: 600;
}
/*.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-checkbox label{
    margin-bottom: 22px;
}*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label .wpforms-required-label {
    color: #A37D36;
    font-weight: 600;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    display: inline-block;
    vertical-align: baseline;
    color: #FFFFFF;
    font-size: 16px;
    background: #29467D;
    border-radius: 4px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    padding: 16px 24px;
    border: 2px solid #29467D;
    text-transform: capitalize;
    text-decoration: none;  
}
.contact-form-wrp .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #707070!important;
    padding: 16px 8px 16px 8px!important;
    background: #F7F7F7!important;
    border: 1px solid #DDDDDD!important;
    box-sizing: border-box;
    padding: 16px 8px 16px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 0!important;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
    color: #FFFFFF;
    background: #EACC95;
    border-color: #EACC95;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before {
    content: "";
    clear: both;
    display: table;
}
input[type=text], 
input[type=email], 
input[type=tel], 
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error {
    display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error label.wpforms-error {
    display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error {
    font-weight: 400;
    font-size: 13px;
    padding-left: 2px;
    position: absolute;
    bottom: -28px;
    right: 12px;
    color: #D9534F;
    line-height: 24px;
    margin-bottom: 0;
    text-transform: inherit;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="email"].wpforms-error, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="text"].wpforms-error, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="number"].wpforms-error {
    border: 1px solid #D9534F!important;
}
/*#wpforms-222-field_1-error*/

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-webkit-input-placeholder { 
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-moz-placeholder {
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-ms-input-placeholder { 
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-moz-placeholder { 
  text-transform: capitalize !important;
}



.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::placeholder{
    color: #707070!important;
    font-weight: 400;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder{ 
    color: #707070!important;
    font-weight: 400;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder{ 
    color: #707070!important;
    font-weight: 400;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder{ 
    color: #707070!important;
    font-weight: 400;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder{ 
    color: #707070!important;
    font-weight: 400;
    opacity:1;
}



.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error::-webkit-input-placeholder { 
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error::-moz-placeholder { 
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error:-ms-input-placeholder {
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error:-moz-placeholder {
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error::-webkit-input-placeholder { 
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error::-moz-placeholder { 
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error:-ms-input-placeholder { 
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error:-moz-placeholder { 
  color: #D9534F!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error:after{
    content: "";
    position: absolute;
    background: url("../images/x-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 7.25px;
    height: 7.86px;
    top: -30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 20px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error{
    margin-bottom: 26px;
}
.wpforms-field-description {
    margin-top: 0!important;
    color: #707070!important;
    font-size: 15px!important;
    font-weight: 400!important;
    text-transform: initial!important;
    line-height: 1;
}
.wpforms-field-description a {
    display: inline-block;
    color: #29467D!important;
    text-decoration: none;
    font-weight: 600;
}
.wpforms-field-description p{
    line-height: 1.25;
    margin-bottom: 13px;
}
.wpforms-field-description a:hover{
    color: #EACC95!important;
    text-decoration: underline;!important;
}
.wpforms-container .wpforms-submit-container{
    padding: 0!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ul li,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ol li,
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ul li, 
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ol li,
.wpforms-container.wpforms-container-full .wpforms-form ul li, 
.contact-form-wrp div.wpforms-container-full .wpforms-form ul li, 
.contact-form-wrp .wpforms-container .wpforms-form ul li, 
.contact-form-wrp .wpforms-field-checkbox ul li{
    margin: 0!important;
    padding: 0!important;
    list-style: none!important;
    position: relative;
    padding: 5px 24px 8px 40px!important;
    line-height: 20px!important;
    margin-bottom: 5px!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-checkbox {
    margin-bottom: 20px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ul,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ol,
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ul, 
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ol{
    margin: 0!important;
}
.contact-form-wrp .wpforms-field-checkbox ul li{
    margin-bottom: 0!important;
    padding-right: 0!important;
    position: relative;
}
.contact-form-wrp .wpforms-field-checkbox ul li label{
    font-weight: 400!important;
    font-size: 15px!important;
    line-height: 1.3!important;
    color: #A9A9A9!important;
    margin-bottom: 0!important;
    cursor: pointer;
}
.contact-form-wrp .wpforms-field-checkbox{
    margin-top: 6px!important;
}
.contact-form-wrp .wpforms-field-checkbox ul li input[type="checkbox"] {
    position: absolute!important;
    opacity: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px!important;
    width: 30px!important;
    z-index: 1;
    margin: 0!important;
    border: 1px solid #dddddd!important;
}
.contact-form-wrp .wpforms-field-checkbox ul li:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: #F7F7F7;
    border: 1px solid #dddddd;
    margin-top: 0;
    border-radius: 0!important;
}
.contact-form-wrp .wpforms-field-checkbox ul{
    padding-left: 0!important;
    padding-bottom: 4px;
}
.contact-form-wrp .wpforms-field-checkbox ul li:after {
    content: "";
    position: absolute;
    display: none;
    left: 10.5px;
    top: 5px;
    width: 9px;
    height: 15px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.contact-form-wrp .wpforms-field-checkbox ul li.wpforms-selected:before{
    background: #29467D;
    border-color: #29467D;
}
.wpforms-field-checkbox ul li.wpforms-selected:after {
    display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-select .select2-dropdown,
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-select .select2-dropdown {
    position: absolute!important;
    background: #fff!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-select .select2-results,
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-select .select2-results {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-select ul.select2-results__options li,
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-select ul.select2-results__options li{
    padding: 8px 15px!important;
}
.contact-form-wrp .select2-container--default .select2-selection--single,
.contact-form-wrp .select2-container{
    height: 54px!important;
}
.contact-form-wrp .wpforms-field-select .select2-container--open .select2-dropdown.select2-dropdown--above{
    top: 0;
    margin-top: 0!important;
}
.contact-form-wrp .wpforms-field-select .select2-container.select2-container--default.select2-container--open .select2-dropdown {
    margin-top: 0;
    top: 0;
}
.wpforms-form input:-webkit-autofill,
.wpforms-form input:-webkit-autofill:hover, 
.wpforms-form input:-webkit-autofill:focus,
.wpforms-form textarea:-webkit-autofill,
.wpforms-form textarea:-webkit-autofill:hover,
.wpforms-form textarea:-webkit-autofill:focus,
.wpforms-form select:-webkit-autofill,
.wpforms-form select:-webkit-autofill:hover,
.wpforms-form select:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset!important;
  transition: background-color 5000s ease-in-out 0s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-file-upload input[type="file"]:focus{
    border: none!important;
 }
.widthField3d {
    width: 33.33%!important;
    margin-bottom: 30px!important;
}
.wpforms-field-file-upload input[type="file"]{
    color: #707070;
    cursor: pointer;
    width: 100%;
}
.wpforms-field-file-upload input[type="file"]::-webkit-file-upload-button {
    padding: 8px 15px;
    border-radius:4px;
    border:1px solid #ddd;
    background: #F7F7F7;
    margin-right: 9px!important;
    color: #333333!important;
    cursor: pointer;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-checkbox ul {
    display: flex;
    flex-wrap: wrap;
}
.req-callbacki-sec{
    padding-top: 75px;
    padding-bottom: 140px;
}
.consultation-sec{
    padding-bottom: 140px;
}
.referral-page-con-cntlr .about-intro-sec .faq-accordion-icon-box i.faq-active-icon{
    transform: translate(-50%,-50%) rotate(180deg);
    -ms-transform: translate(-50%,-50%) rotate(180deg);
    -webkit-transform: translate(-50%,-50%) rotate(180deg);
    margin-top: 1.5px;
}
/*responsive*/

@media(max-width: 1199px){

    .contact-form-wrp .wpforms-container .select2-container--default .select2-selection--single .select2-selection__rendered,    
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
        height: 52px;
    }   
    .referral-sec {
        padding-top: 50px;
        padding-bottom: 80px;
    } 
    .treatment-page-con-cntlr .tl-review-sec, 
    .referral-page-con-cntlr .tl-review-sec {
        padding-top: 70px;
        padding-bottom: 100px;
    }
}
@media(max-width: 991px){
    .contact-form-wrp .wpforms-field-checkbox ul li:before,
    .contact-form-wrp .wpforms-field-checkbox ul li input[type="checkbox"]{
        height: 28px!important;
        width: 28px!important;
    }
    .contact-form-wrp .wpforms-field-checkbox ul li:after{
        width: 8px;
        height: 14px;
    }  
    .referral-sec {
        padding-top: 30px;
        padding-bottom: 60px;
    }  
    .treatment-page-con-cntlr .tl-review-sec, 
    .referral-page-con-cntlr .tl-review-sec {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}
@media(max-width: 767px){    
    .contact-form-sec-wrp {
        padding-top: 40px;
        padding-bottom: 60px;
    }    
    
    .contact-form-wrp .wpforms-field-checkbox ul li label{
        font-size: 16px!important;
        line-height: 1.25!important;
    }
    .contact-form-wrp .wpforms-container .select2-container,
    .contact-form-wrp .wpforms-container .select2-container--default .select2-selection--single .select2-selection__rendered,    
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
        height: 56px!important;
    }    
    .wpforms-container .wpforms-submit-container{
        padding-top: 8px!important;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ul, 
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ol, 
    .contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ul, 
    .contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ol{
        padding-top: 3px!important;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-checkbox ul li input[type="checkbox"],
    .contact-form-wrp .wpforms-field-checkbox ul li input[type="checkbox"]{
        height: 24px!important;
    }    
    .contact-details-top{
        padding: 65px 20px 60px;
    }
    .widthField3d {
        width: 50%!important;
        margin-bottom: 24px!important;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus, .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus {
        border: 1px solid #EACC95!important;
        background: transparent;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input[type="file"],
    .wpforms-field-file-upload input[type="file"]{
        height: 40px!important;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input[type="file"]::-webkit-file-upload-button,
    .wpforms-field-file-upload input[type="file"]::-webkit-file-upload-button {
        height: 40px!important;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-description{
        margin-top: 16px!important;
    }
    .contact-form-wrp .wpforms-field-checkbox ul li:before,
    .contact-form-wrp .wpforms-field-checkbox ul li input[type="checkbox"]{
        height: 24px!important;
        width: 24px!important;
    }
    .contact-form-wrp .wpforms-field-checkbox ul li:after {
        width: 7px;
        height: 13px;
        top: 4.5px;
        left: 9px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ul li, 
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-html ol li, 
    .contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ul li, 
    .contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-field-html ol li, 
    .wpforms-container.wpforms-container-full .wpforms-form ul li, 
    .contact-form-wrp div.wpforms-container-full .wpforms-form ul li, 
    .contact-form-wrp .wpforms-container .wpforms-form ul li, 
    .contact-form-wrp .wpforms-field-checkbox ul li{
        padding: 2px 24px 0px 32px!important;
        margin-bottom: 0px!important;
    } 
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
        padding: 16px 16px;
    }   
    .treatment-page-con-cntlr .tl-review-sec, 
    .referral-page-con-cntlr .tl-review-sec {
        padding-top: 50px;
        padding-bottom: 70px;
    }  
    .testimonials-pg-content-cntlr .review-grid-item, 
    .referral-page-con-cntlr .tl-review-sec .review-grid-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 600px){
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field,    
    div.wpforms-container-full .wpforms-form .wpforms-field {
        overflow-x: initial!important;
    }
}
@media(max-width: 575px){
   .contact-form-sec-wrp {
        padding-top: 27px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
        width: 100%;
        margin-bottom: 12px;
    }    
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
        height: 56px;
        font-size: 16px;
    }
    .contact-form-wrp .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 56px;
    }    
    .contact-form-wrp .wpforms-field-checkbox {
        margin-top: 0px!important;
        margin-bottom: 16px!important;
    }    
    .contact-form-wrp .wpforms-field-checkbox ul{
        padding-bottom: 0!important;
    }
    .contact-form-rgt-inr{
        max-width: 100%;
    }    
    .contact-form-sec-wrp {
        padding-bottom: 46px;
    }    
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error{
        margin-bottom: 32px;
    }
    .widthField3d {
        width: 100%!important;
        margin-bottom: 8px!important;
    }
    .contact-form-wrp .wpforms-field-checkbox ul li:after{
        top: 3.5px;
    }
    .testimonials-pg-content-cntlr .review-grid-item, 
    .referral-page-con-cntlr .tl-review-sec .review-grid-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .testimonials-pg-content-cntlr .review-pro-des, 
    .tlPatientReviewSlider2 .review-pro-des {
        height: 220px;
        -webkit-line-clamp: 7;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
        margin: 0;
    } 
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 479px){
    
}    