.counter-sec{
	background: #F7F7F7;
	padding: 20px 0;
}
.counter-cntlr{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.counter-col{
	text-align: center;
	padding: 30px 10px 0;
	width: 25%;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.counter-number-title{
	color: #11345E;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 14px;
}
.counter-col p{
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	color: #333333;
}
.counter-col p:last-of-type{
	margin-bottom: 0;
}



.profile-sec{
	padding-bottom: 40px;
}
.profile-cntlr{

}
.profile-module-cntlr{
	padding-top: 60px;
}
.specialists-profile-module{
	padding-top: 32px;
}
.pro-mdul-hdr{
	padding-bottom: 10px;
}
.pro-mdul-hdr .diamond-module{
	margin-bottom: 14px;
}
.pro-mdul-hdr-title{
	font-weight: 600;
}

.profile-module{
	position: relative;
}
.profile-module > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
	justify-content: flex-start;
}
.profile-module ul li{
	padding: 0 10px;
	width: 33.33%;
	margin-bottom: 28px;
}
.pro-mdul-grd{

}
.pro-mdul-grd:hover .pm-grd-img{
	transform: scale(1.042);
	-ms-transform: scale(1.042);
	-webkit-transform: scale(1.042);
	-o-transform: scale(1.042);
}
.pm-grd-img-cntlr{
	height: 420px;
	position: relative;
	overflow: hidden;
	border-bottom: 4px solid #a47e37;
}
.pm-grd-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.pm-grd-desc-cntlr{
	padding: 22px 14px 20px;
	border: 1px solid #DDDDDD;
}
.pm-grd-title{
	color: #333333;
	line-height: 1;
	margin-bottom: 8px;
}
.pm-grd-title a{
	display: inline-block;
	text-decoration: none;
	color: #333333;
	line-height: 1;
}
.pm-grd-title a:hover{
	color: #11345E;
}
.pm-grd-assist{
	line-height: 1;
	margin-bottom: 8px;
}
.pm-grd-assist-name{
	font-family: 'SourceSerifPro';
	font-weight: 400;
	font-size: 20px;
	line-height: 1;
	color: #11345E;
}
.pm-grd-assist-no{
	font-family: 'SourceSansPro';
	font-weight: 600;
	font-size: 15px;
	line-height: 1;
	color: #29467D;
	margin-left: 8px;
	border-bottom: 1px dashed #29467D;
}
.pm-grd-addr{
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	color: #A37D36;
	margin-bottom: 15px;
}
.team-pg-content-cntlr .pm-grd-addr{
	margin-bottom: 22px;
}
.pm-grd-btns-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -8px;
}
.pm-grd-btn{
	padding: 0 8px;
	margin-bottom: 8px;
}
.pm-grd-btn a{
	padding: 11.5px 15px;
}
/*.teamGrdSlider .pm-grd-btn a {
    line-height: 1.25;
    font-weight: 600;
    color: #29467D;
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 1px dashed #29467D;
    background: none;
    padding: 0;
}*/
/*.teamGrdSlider .pm-grd-btn a:hover{
	color: #A37D36;
	border-color: #A37D36;
}*/
.team-pg-content-cntlr .pm-grd-desc{
	display: none;
}
.team-pg-content-cntlr .cta-section{
	margin-bottom: 44px;
}
@media(max-width: 1199px){
	.pm-grd-img-cntlr{
		height: 380px;
	}
	.counter-col p{
		font-size: 20px;
	}
}
@media(max-width: 991px){
	.counter-cntlr {
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}
	.profile-module ul li{
		width: 50%;
	}
	.counter-col{
		width: 50%;
	}
	.profile-module-cntlr,
	.specialists-profile-module, 
	.profile-module{
		max-width: 700px;
		margin: 0 auto;
	}
	.pm-grd-img-cntlr {
		height: 360px;
	}
	.counter-col p {
		font-size: 24px;
	}
}
@media(max-width: 767px){
	
	.profile-module-cntlr{
		padding-top: 40px;
	}
	.profile-module-cntlr,
	.specialists-profile-module, 
	.profile-module{
		max-width: 100%;
	}
	.pm-grd-img-cntlr {
		height: 344px;
	}
	.counter-col p{
		font-size: 23px;
	}
	
}
@media(max-width: 575px){
	.counter-col{
		width: 100%;
		padding: 20px 0;
	}
	.profile-module-cntlr, 
	.profile-module{
		max-width: 360px;
		margin: 0 auto;
	}
	.profile-module > ul{
		margin: 0 0;
	}
	.profile-module ul li{
		width: 100%;
		padding: 0;
	}
	.pm-grd-title a{
		font-size: 28px;
		line-height: 1.2;
	}
	.pm-grd-assist-name{
		font-size: 21px;
		line-height: 1.23;
	}
	.pm-grd-addr{
		font-size: 14px;
		line-height: 1.7;
	}
	.pm-grd-btn a{
		font-size: 16px;
		line-height: 1.25;
	}
	.counter-number-title{
		font-size: 67px!important;
		line-height: 1.25;
	}
	.counter-col p{
		font-size: 26px;
		line-height: 1.8;
	}
	.patient-page-con-cntlr .cta-module-des-title,
	.team-pg-content-cntlr .cta-module-des-title{
		font-size: 45px!important;
	}
}
@media(max-width: 479px){
	.patient-page-con-cntlr .cta-module-des-title,
	.team-pg-content-cntlr .cta-module-des-title{
		font-size: 32px!important;
	}
}
@media(max-width: 359px){
	.pm-grd-assist-no {
		display: table;
		margin-left: 0;
	}
	.patient-page-con-cntlr .cta-module-des-title,
	.team-pg-content-cntlr .cta-module-des-title{
		font-size: 27px!important;
	}
}