.counter-sec{
	background: #F7F7F7;
	padding: 20px 0;
}
.counter-cntlr{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.counter-col{
	text-align: center;
	padding: 30px 10px 0;
	width: 25%;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.counter-number-title{
	color: #11345E;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 14px;
}
.counter-col p{
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	color: #333333;
}
.counter-col p:last-of-type{
	margin-bottom: 0;
}



.profile-sec{
	padding-top: 60px;
}
.profile-cntlr{

}
.profile-module-cntlr{

}
.pro-mdul-hdr{

}
.pro-mdul-hdr .diamond-module{
	margin-bottom: 14px;
}