.treatment-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.treatment-grd-item-col{
	width: 33.3333%;
	padding: 0 12px 25px;
}
.treatment-grd-img-cntlr{
	position: relative;
	overflow: hidden;
	border-bottom: 4px solid #A37D36;
	
}
.treatment-sec .sec-entry-hdr-cntlr {
    padding-bottom: 40px;
}
.treatment-sec-cntlr .contact-form-wrp 
.wpforms-container .wpforms-form 
.wpforms-field-container 
.wpforms-field label{
	color: #fff;
}
.referral-sec-bg-color{
	background: #fff;
}
.treatment-grd-des{
	padding: 24px 15px 1px;
}
.treatment-grd-des-title{
	margin-bottom: 16px;
	font-weight: 600;
}
.treatment-grd-des-title > a{
	color: #11345E;
}
.treatment-grd-des-subtitle{
	color: #A37D36;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 24px;
}
.treatment-page-con-cntlr .teamGrdSlider .pm-grd-btn a {
    padding: 0;
    color: #29467D;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    padding-bottom: 1px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px dotted #29467D;
}
.treatment-page-con-cntlr .teamGrdSlider .pm-grd-btn a:hover{
	color: #A37D36;
	background: transparent;
	letter-spacing: 1px;
	border-bottom-color: #A37D36;
}
.treatment-page-con-cntlr .profile-module ul{
	justify-content: center;
}
.treatment-page-con-cntlr .team-grd-item-col{
	padding-bottom: 30px;
}
.treatment-page-con-cntlr .team-grds{
	padding-bottom: 0;
	margin-bottom: 0;
}
.treatment-page-con-cntlr .review-grid-item{
	background: #fff;
}
.review-color .sec-entry-hdr-title{
	color: #FFFFFF;
	font-weight: 600;
	text-transform: capitalize;
}
.review-color .review-tstmnl-mgs{
	color: #333333;
}
.patientReviewSlider.slick-slider .slick-dots li button{
	border: 1px solid #EACC95!important;
}
.patientReviewSlider.slick-slider .slick-dots li.slick-active button, 
.patientReviewSlider.slick-slider .slick-dots li button:hover {
    background: #EACC95!important;
}

.treatment-page-con-cntlr .about-intro-sec{
	overflow: hidden;
}
.treatment-page-con-cntlr .abtis-lft-img-row .abtis-row-img{
	margin-left: -30px;
}
.treatment-page-con-cntlr .treatments-sec{
	padding-top: 90px;
	padding-bottom: 40px;
}
/*.treatment-page-con-cntlr .abtis-row-img-inner{
	margin-right: -30px;
}*/
.treatment-page-con-cntlr .why-choose-sec{
	margin-top: 20px;
}
.treatment-page-con-cntlr .about-team-sec{
	padding-bottom: 90px;
}
.treatment-page-con-cntlr .faq-sec .faq-sec-inner{
	max-width: 960px;
}
.treatment-page-con-cntlr .faq-sec{
	padding: 70px 0 90px;
}
.treatment-page-con-cntlr .faq-accordion-title{
	color: #333;
	font-weight: 400;
}
.treatment-page-con-cntlr .faq-sec .sec-entry-hdr-title{
	font-weight: 600;
}


/*our equionment*/
.our-equionment-page-con-cntlr .treatments-sec{
	padding-top: 50px;
	padding-bottom: 70px;
}
.our-equionment-page-con-cntlr .treatment-sec{
	padding-bottom: 30px;
}
.our-equionment-page-con-cntlr .cta-section{
	padding-bottom: 70px;
}
.our-equionment-page-con-cntlr .treatment-grd-img-cntlr{
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.our-equionment-page-con-cntlr .abtis-row-img-inner{
	margin-right: -40px;
}
.our-equionment-page-con-cntlr .abtis-lft-img-row .abtis-row-img-inner{
	margin-right: initial;
	margin-left: -40px;
}*/
.our-equionment-page-con-cntlr .about-intro-sec{
	overflow: hidden;
}
.our-equionment-page-con-cntlr .abtis-row-text p{
	margin-bottom: 30px;
}
.our-equionment-page-con-cntlr .abtis-row-text p:last-of-type{
	margin-bottom: 15px;
}
.our-equionment-page-con-cntlr .cta-section{
	overflow: hidden;
	margin-top: 50px;
}
.our-equionment-page-con-cntlr .cta-module-wrp{
	margin-left: -20px;
	margin-right: -20px;
}
.treatment-bg-color .sec-entry-hdr-title,
.treatment-bg-color .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
    color: #fff;
}
.referral-sec .sec-entry-hdr-title{
	color: #11345E;
}
.treatment-bg-color .contact-form-wrp .wpforms-field-checkbox ul li label{
	color: #EAEAEA!important;
}
.treatment-bg-color .sec-entry-hdr p{
	color:#333333;	
}
.treatment-sec{
	padding-top: 0;
	padding-bottom: 90px;
}
.treatment-sec .wpforms-field-description a{
	color: #EACC95!important;
}
.treatment-sec .contact-form-wrp {
    max-width: 100%;
    padding: 0 40px;
}
.treatment-sec-cntlr{
    background: #061E39;
    padding: 38px 0;
}
.treatment-sec-cntlr form.wpforms-form.needs-validation{
	padding: 40px 40px;
	border: 1px solid #A37D36;
}
.treatment-page-con-cntlr .pm-grd-desc{
	display: block;
}



@media(max-width: 1199px){
	.treatment-grds{
		margin-left: -10px;
		margin-right: -10px
	}
	.treatment-grd-item-col{
		padding: 0 10px 25px
	}
	.our-equionment-page-con-cntlr .treatments-sec {		
		padding-bottom: 50px;
	}
	.treatment-page-con-cntlr .faq-sec{
		padding: 60px 0 70px;
	}
	.treatment-sec{		
		padding-bottom: 70px;
	}
}
@media(max-width: 991px){
	.treatment-grd-item-col{
		width: 50%;
	}
	.treatments-sec-inr{
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}
	.our-equionment-page-con-cntlr .treatment-grd-img-cntlr{
		height: 320px;
	}
	.our-equionment-page-con-cntlr .treatments-sec {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.our-equionment-page-con-cntlr .cta-section{		
		padding-bottom: 60px;
	}
	.treatment-page-con-cntlr .faq-sec{
		padding: 60px 0 60px;
	}
	.treatment-sec{		
		padding-bottom: 60px;
	}
	.treatment-sec .contact-form-wrp{
		padding: 0 30px;
	}
	.treatment-sec-cntlr form.wpforms-form.needs-validation{
		padding: 30px;
	}
	.treatment-sec-cntlr {		
		padding: 30px 0;
	}
}
@media(max-width: 767px){
	.our-equionment-page-con-cntlr .treatments-sec{
		padding-bottom: 44px;
	}
	.our-equionment-page-con-cntlr .pm-grd-btn{
		margin-bottom: 14px;
	}
	.our-equionment-page-con-cntlr .cta-section{
		margin-top: 20px;
		padding-bottom: 50px;
	}
	.treatment-page-con-cntlr .team-grd-item-col {
	    padding-bottom: 60px;
	}	
	.treatment-sec .sec-entry-hdr-cntlr {
		padding-bottom: 30px;
	}
}
@media(max-width: 575px){
	.treatment-grds {
		margin-left: 0;
		margin-right: 0;
	}
	.treatment-grd-item-col{
		width: 100%;
		padding: 0 0 25px
	}
	.treatments-sec-inr{
		max-width: 350px;
	}
	.treatment-grd-des p:last-of-type{
		margin-bottom: 0;
	}
	.our-equionment-page-con-cntlr .treatment-grd-img-cntlr{
		height: 328px;
	}
	.treatment-grd-des-subtitle{
		margin-bottom: 18px;
		margin-bottom: 16px;
	}
	.treatment-grd-des-title{
		font-size: 28px!important;
	}
	.treatment-page-con-cntlr .faq-sec{
		padding: 50px 0 50px;
	}
	.treatment-sec{		
		padding-bottom: 50px;
	}
}
@media(max-width: 479px){
	
}