.treatment-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.treatment-grd-item-col{
	width: 33.3333%;
	padding: 0 12px 25px;
}
.treatment-grd-img-cntlr{
	position: relative;
	overflow: hidden;
	border-bottom: 4px solid #A37D36;
	
}
.treatment-grd-des{
	padding: 24px 15px 1px;
}
.treatment-grd-des-title{
	margin-bottom: 16px;
	font-weight: 600;
}
.treatment-grd-des-title > a{
	color: #11345E;
}
.treatment-grd-des-subtitle{
	color: #A37D36;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 25px;
}
.treatment-page-con-cntlr .pm-grd-btn a {
    padding: 0;
    color: #29467D;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dotted #29467D;
}
.treatment-page-con-cntlr .pm-grd-btn a:hover{
	color: #A37D36;
}
.treatment-page-con-cntlr .profile-module ul{
	justify-content: center;
}
.treatment-page-con-cntlr .team-grd-item-col{
	padding-bottom: 30px;
}
.treatment-page-con-cntlr .team-grds{
	padding-bottom: 0;
	margin-bottom: 0;
}
.treatment-page-con-cntlr .review-grid-item{
	background: #fff;
}
.review-color .sec-entry-hdr-title{
	color: #FFFFFF;
	font-weight: 600;
}
.review-color .review-tstmnl-mgs{
	color: #333333;
}
.patientReviewSlider.slick-slider .slick-dots li button{
	border: 1px solid #EACC95!important;
}
.patientReviewSlider.slick-slider .slick-dots li.slick-active button, 
.patientReviewSlider.slick-slider .slick-dots li button:hover {
    background: #EACC95!important;
}

.treatment-page-con-cntlr .about-intro-sec{
	overflow: hidden;
}
.treatment-page-con-cntlr .abtis-lft-img-row .abtis-row-img{
	margin-left: -30px;
}
.treatment-page-con-cntlr .treatments-sec{
	padding-top: 90px;
	padding-bottom: 40px;
}
/*.treatment-page-con-cntlr .abtis-row-img-inner{
	margin-right: -30px;
}*/
.treatment-page-con-cntlr .why-choose-sec{
	margin-top: 20px;
}
.treatment-page-con-cntlr .about-team-sec{
	padding-bottom: 90px;
}
.treatment-page-con-cntlr .faq-sec .faq-sec-inner{
	max-width: 960px;
}
.treatment-page-con-cntlr .faq-sec{
	padding: 70px 0 140px;
}
.treatment-page-con-cntlr .faq-accordion-title{
	color: #333;
	font-weight: 400;
}
.treatment-page-con-cntlr .faq-sec .sec-entry-hdr-title{
	font-weight: 600;
}


/*our equionment*/
.our-equionment-page-con-cntlr .treatments-sec{
	padding-top: 50px;
	padding-bottom: 70px;
}
.our-equionment-page-con-cntlr .treatment-sec{
	padding-bottom: 30px;
}
.our-equionment-page-con-cntlr .cta-section{
	padding-bottom: 70px;
}
.our-equionment-page-con-cntlr .treatment-grd-img-cntlr{
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.our-equionment-page-con-cntlr .abtis-row-img-inner{
	margin-right: -40px;
}
.our-equionment-page-con-cntlr .abtis-lft-img-row .abtis-row-img-inner{
	margin-right: initial;
	margin-left: -40px;
}*/
.our-equionment-page-con-cntlr .about-intro-sec{
	overflow: hidden;
}
.our-equionment-page-con-cntlr .abtis-row-text p{
	margin-bottom: 30px;
}
.our-equionment-page-con-cntlr .abtis-row-text p:last-of-type{
	margin-bottom: 15px;
}
.our-equionment-page-con-cntlr .cta-section{
	overflow: hidden;
	margin-top: 50px;
}
.our-equionment-page-con-cntlr .cta-module-wrp{
	margin-left: -20px;
	margin-right: -20px;
}
.treatment-bg-color .sec-entry-hdr-title,
.treatment-bg-color .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
    color: #fff;
}
.treatment-bg-color .sec-entry-hdr p{
	color:#EACC95;	
}
.treatment-sec{
	padding-top: 100px;
	padding-bottom: 100px;
}
.treatment-sec .wpforms-field-description a{
	color: #EACC95!important;
}
.treatment-sec .contact-form-wrp {
    max-width: 1135px;
}
