/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	color: #11345E;
	font-weight: 700;
	font-family: 'SourceSerifPro';
}
h1,.fl-h1{
	font-size: 60px;
}
h2,.fl-h2{
	font-size: 52px;
}
h3,.fl-h3{
	font-size: 46px;
}
h4,.fl-h4{
	font-size: 34px;
}
h5,.fl-h5{
	font-size: 26px;
}
h6,.fl-h6{
	font-size: 20px;
}