.sec-entry-hdr-cntlr.wd-890{
    max-width: 890px;
}
.sec-entry-hdr-cntlr.wd-890 p{
    font-size: 15px;
    color: #333333;
    line-height: 2;
}
.why-choose-us-page-body-cntlr .counter-sec {
    background: #fff;
    padding-top: 75px;
    padding-bottom: 100px;
}
.why-choose-us-page-body-cntlr .pg-banner-btns .cdc-trnsprnt-btn{
    padding: 15.5px 8px;
}
.wco-team-sec{
    padding-top: 80px;
    padding-bottom: 80px;
}
.wco-team-sec .team-grds{
    padding-bottom: 0;
}
.why-choose-us-page-body-cntlr 
.wco-team-sec .team-grds.slick-slider ul.slick-dots{
    margin-top: 10px;
}
.wco-team-btn{
    text-align: center;
}
