.sec-entry-hdr-cntlr.wd-890{
    max-width: 890px;
}
.sec-entry-hdr-cntlr.wd-890 p{
    font-size: 15px;
    color: #333333;
    line-height: 2;
}
.why-choose-us-page-cntlr .counter-sec {
    background: #fff;
    padding-top: 75px;
    padding-bottom: 100px;
}
.why-choose-us-page-cntlr .pg-banner-btns .cdc-trnsprnt-btn{
    padding: 15.5px 8px;
}
.wco-team-sec{
    padding-top: 80px;
    padding-bottom: 80px;
}
.wco-team-sec .team-grds{
    padding-bottom: 0;
}
.why-choose-us-page-cntlr 
.wco-team-sec .team-grds.slick-slider ul.slick-dots{
    margin-top: 10px;
}
.wco-team-btn{
    text-align: center;
}
.why-choose-us-page-cntlr .pm-grd-btn a{
    padding: 0 0;
    text-decoration: none;
    color: #29467D;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px dotted #29467D;
}
.why-choose-us-page-cntlr .pm-grd-btn a:hover{
    color: #A37D36;
    letter-spacing: 1px;
    border-bottom-color: #A37D36;
}

.teamGrdSlider .team-grd-item-col{
    display: none;
}
.teamGrdSlider .team-grd-item-col:first-child{
    display: block;
}
.teamGrdSlider.slick-initialized .team-grd-item-col{
    display: block;
}
.why-choose-us-page-cntlr .review-grid-item{
    padding-bottom: 35px;
}
.why-choose-us-page-cntlr .review-pro-des{
    height: 90px;
}




@media(max-width: 1199px){
    .why-choose-us-page-cntlr .counter-sec {        
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .wco-team-sec {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media(max-width: 991px){
    .why-choose-us-page-cntlr .counter-sec {        
        padding-bottom: 60px;
    }
}
@media(max-width: 767px){
    .why-choose-us-page-cntlr .counter-sec {        
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .why-choose-us-page-cntlr .sec-entry-hdr-cntlr{
        padding-bottom: 20px;
    }
}
@media(max-width: 575px){
    .why-choose-us-page-cntlr .counter-sec {        
        padding-bottom: 30px;
    }
}
@media(max-width: 479px){
    
}
