.sec-entry-hdr-cntlr.wd-890{
    max-width: 890px;
}
.sec-entry-hdr-cntlr.wd-890 p{
    font-size: 15px;
    color: #333333;
    line-height: 2;
}
.why-choose-us-page-body-cntlr .counter-sec {
    background: #fff;
    padding-top: 75px;
    padding-bottom: 100px;
}