@import url('_commons.css');
@import url('_typo.css');
@import url('_spaces.css');
@import url('_effects.css');
@import url('_header.css');
@import url('_page.css');
@import url('_home.css');
@import url('_contact.css');
@import url('_footer.css');



/*---- RS ----*/ 
@import url('_about.css');
@import url('_our-practice.css');
/*---- MIN ----*/ 


/*---- NZ ----*/ 
@import url('_home3.css');


/*---- SK ----*/ 
@import url('_home2.css');
@import url('_why-choose-us-2.css');
@import url('_team.css');
@import url('_new-patients.css');



/*---- MSI ----*/ 
@import url('_treatment.css');
